@import "../../../../../../profiles/wcmc/themes/wcmc_base/scss/_variables";
@import "../../../../../../profiles/wcmc/themes/wcmc_base/scss/_mixins";

/* =Intranet Three Column
----------------------------------------------------------*/

.panel-classic-3col {
  @include clearfix;
  position: relative;
}

.panel-classic-3col #main-content {
  @include clearfix;
}

.panel-classic-3col #classic-3col-left {
  width: 80%;
  margin: 0 auto;
  @include breakpoint($bp2) {
    width: 24.5%;
    margin-right: 20px;
    float: left;
  }
}

.panel-classic-3col #classic-3col-center {
  width: 80%;
  margin: 0 auto;
  @include breakpoint($bp2) {
    width: 38%;
    float: left;
    margin-right: 20px;
  }
}

.panel-classic-3col #classic-3col-right {
  width: 80%;
  margin: 0 auto;
  @include breakpoint($bp2) {
    width: 33.33333%;
    float: right;
  }
}
