@import "../../../../../../profiles/wcmc/themes/wcmc_base/scss/_variables";
@import "../../../../../../profiles/wcmc/themes/wcmc_base/scss/_mixins";

/* =Intranet Three Column
----------------------------------------------------------*/

.panel-intra-home {
  @include clearfix;
  position: relative;
}

.panel-intra-home #main-content {
  @include clearfix;
}

.panel-intra-home #intra-home-left {
  @include breakpoint($bp1) {
    width: 26.595%;
    margin-right: 40px;
    float: left;
  }
}

.panel-intra-home #intra-home-center {
  @include breakpoint($bp1) {
    width: 34.0425%;
    float: left;
    margin-right: 10px;
  }
}

.panel-intra-home #intra-home-right {
  @include breakpoint($bp1) {
    width: 34.0425%;
    float: left;
  }
}
