@import "../../../../themes/wcmc_base/scss/_variables";
@import "../../../../themes/wcmc_base/scss/_mixins";

/* =============================================================================
   ~Featured Slides
   ========================================================================== */

.view-carousel {
  //background: #1e1e1e;
  margin: -20px 0 20px 0;
  position: relative;
  @include breakpoint($bp1) {
    margin: 0px 0 20px 0;
  }
  @include breakpoint($bp2) {
    margin: 0px 0 20px 0;
  }
}

// hide all slides except the first one to avoid FOUC

.view-carousel .views-row {
  display: none;
  position: relative;
  width: 100%;
}

.view-carousel .views-row-first {
  display: block;
}

.view-carousel .views-row > img {
  width: 100%;
  position: relative;

  @include breakpoint($bp1) {
    display: block;
  }
}

// prev / next arrows
.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 15%;
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

.cycle-prev { left: 0;  background: url("../images/prev.png") 10% 50% no-repeat;}
.cycle-next { right: 0; background: url("../images/next.png") 90% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }

.slide-text {
  padding: 1em 2em;
  @include breakpoint($bp1) {
    background: rgba(30,30,30,0.92);
  }
  @include breakpoint($bp2) {
    position: absolute;
    bottom: 0;
    left: 17.7%;
    width: 40%;
    margin: 0;
    padding: 1em 2em;
  }
}

.slide-text h2 {
  @include font-size(2.0);
  line-height: 1;
  font-weight: normal;
}

.slide-text p {
 font-size: 1em;
  @include breakpoint($bp1) {
    color: #fff;
  }
}