/**
 * Stylesheet for WCMC Install Profile
 */

body.maintenance-page {
  font-family: Helvetica, sans-serif;
}

body.maintenance-page #logo {
  background: transparent url(wcmc.png) no-repeat top left;
  height: 0;
  overflow: hidden;
  padding-top: 100px; /* height of logo  */
  width: 100px; /* width of logo  */
}

body.maintenance-page #branding {
  background: #9b0000;
  color: #fff;
}

body.maintenance-page #branding h1.page-title {
  color: #fff;
}

body.maintenance-page .filled {
  background: #dedadb;
}