$wcmc-base: "../../../../../profiles/wcmc/themes/wcmc_base/";
@import "../../../../../profiles/wcmc/themes/wcmc_base/scss/_variables";
@import "../../../../../profiles/wcmc/themes/wcmc_base/scss/_mixins";
$image-location: $wcmc-base + "images/";

//======Reference ===================
//$cornell-red: #B31B1B;
$cornell-red: #ff0000;

//====Custom Site Colors=============
//Change these first and see if the result makes sense with your design
$primary-color: $cornell-red;
$secondary-color: #f2faee;
$tertiary-color: #222222;
$quadrary-color: #0f0f0f; //Horizontal rules, borders. Section separators
$base-color: #ffffff; //Background of page mostly
$text-color: #301d1d;
$link-color: #275768; //Duh
$button-color: #fffff5; //As stated, unless overridden by other styles
$social-button-color: #89cce2; //Obvious
$color-gray: #9a9b9e;
$highlight-color: #da7b1f;

//If once you've changed the above colors things still don't look right, customize these values
$heading-colors: $primary-color;
$desktop-site-name-color: $primary-color;
$mobile-site-name-color: $tertiary-color;
$secondary-content-header-color: $text-color; //Heading in sidebars
$header-borders-color: #606a70;
$third-level-nav-background-color: $base-color;
$third-level-nav-inactive-color: $tertiary-color;
$body-nav-background-color: $button-color;
$primary-nav-background-color: $tertiary-color; //Background of main nav bar
$secondary-nav-highlight-color: $tertiary-color; //Active primary/secondary nav
$mobile-wcmc-text: #a5aeb4; //WCMC text at top of page in mobile

//Images and logo colors
//Tablet dropdown logo
$header-wcmc-logo-color: "white"; // QUOTES ARE IMPORTANT- red, black, or white
//Desktop circle emblem
$header-wcmc-emblem-color: "white"; //QUOTES ARE IMPORTANT- red, black, or white

//===========Measurements based on content=============
$primary-nav-width: auto; //Based on 4 primary nav items- change to your liking


/* =============================================================================
   ~Base Elements
   ========================================================================== */
  body{
    //Global footer color only
    background: $secondary-color;
    color: $text-color;
    font-family: "ff-meta-web-pro",sans-serif;
  }

  #page{
    background-color: $secondary-color;
  }

  h1, h2{
    color: $text-color;
    font-family: "skolar",serif;
    font-weight: normal;
  }

  h1 {
    @include font-size(3.6);
    @include breakpoint($bp2){
      padding-bottom: 0;
    }
  }

  h2 {
    color: $highlight-color;
    margin-top: 0;
    @include font-size(2.8);
    line-height: 3.4rem;
  }

  h3{
    color: $secondary-content-header-color;
  }

  #main h1{
    border-bottom:  none;
   }

  a{
    color: $link-color;
    text-decoration: underline;
    &:hover{
      color: $text-color;

    }
  }

  p {
    padding-bottom: 1.4rem;
  }

  .content {
    @include breakpoint($bp2){
      margin-bottom: 30px;
    }
  }


.photo-icon {
    background: url("../images/overlay.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 60px;
}

/* =============================================================================
   ~Header
   ========================================================================== */

header[role="banner"] {
  background: #04465c;
}

.wrap {
  @include breakpoint($bp2){
    margin: 0 auto;
    width: 960px;
  }
}

.wcmc-branding, .dual-branding{
    border-color: $header-borders-color;
    @include breakpoint($bp1){
        background-color: inherit;
    }
    @include breakpoint($bp2){
        border: none;
    }
}

.weill-cornell-connect{
    background-color: inherit;
    border-color: $header-borders-color;
    .is-collapsed &{
        border-color: $header-borders-color;
    }
}

.wcmc-emblem, .wcmc-emblem:hover{
    color: #fff;
    @include breakpoint($bp1 $bp2){
      @include wcmc-logo($header-wcmc-logo-color);
    }
    @include breakpoint($bp2){
        @include wcmc-emblem($header-wcmc-emblem-color);
    }
}

.nyp-brand, .nyp-brand:hover{
  color: $mobile-wcmc-text;
}

.wcmc-emblem.full-logo{
  @include breakpoint($bp1){
    color: transparent;
  }
}
.wcmc-links{
  background: #04465C;
  border-color: $header-borders-color;
}

.wcmc-primary-nav-item{
  color: #fff;
  &:hover{
    color: #fff;
  }
  &:after{
    border-color: $quadrary-color;
  }
}

.wcmc-links-expander{
    @include breakpoint($bp2){
        @include retina-image($wcmc-base+'images/sprites/navigation_drawer', 16px 100px, png);
        background-repeat: no-repeat;
    }
}

.global-search{
  border-color: $header-borders-color;
  select{
    color: $header-borders-color;
    border-color: $header-borders-color;
  }
  input{
    border-color: $header-borders-color;
  }
  .search-button{
    border-color: $header-borders-color;
  }
}

.site-branding h1{
  font-family: "minion-pro",sans-serif;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  &, a{
    color: #fff;
    @include font-size(2.5);
    @include breakpoint($bp1){
      @include font-size(5.2);
      margin: -0.2em 0 0.2em 0;
      color: #fff;
    }
    @include breakpoint($bp2){
      @include font-size(5.2);
      margin-top: -0.2em;
      color: #fff;
    }
    .affiliation {
      display: none;
      @include breakpoint($bp2) {
        display: block;
        margin-top: -0.8em;
        @include font-size(1.8);
        line-height: 1em;
        color: #fff;
      }
    }
  }
}

.weill-cornell-connect{
  @include retina-image('../images/wcc_icon', 25px 25px, png);
    @include breakpoint($bp2){
    @include retina-image('../images/wcc_full_logo', 160px 25px, png);
    }
  .is-collapsed &{
    @include breakpoint($bp2){
      @include retina-image('../wcc_icon', 25px 25px, png);

    }
  }
}

.is-collapsed .weill-cornell-connect {
    background-image: url("../images/wcc_icon.png");
    background-size: 25px 25px;
}


#edit-search-type,
#top-nav .global-search select {
 @include font-size(1.1);
}

.wcmc-etc {
  background: $tertiary-color;
}

/* =============================================================================
   ~Navigation
   ========================================================================== */

.menu-button{
   color: $color-gray;
   &.is-expanded{
    background: $button-color;
   }
}

#top-nav{
    color: #fff;
    background-color: $button-color;
    @include breakpoint($bp1){
      background-color: $secondary-color;
    }
}

#primary-nav{
  background-color: $primary-nav-background-color;
  border-color: $button-color;
  text-transform: uppercase;
  @include font-size(1.6);
}

#primary-nav .active-trail{
  background: $secondary-nav-highlight-color;
  &.temp-inactive{
    background: transparent;
  }
}

#top-nav a:hover {
  color: $primary-nav-background-color;
}

#primary-nav .level-1{
  a{
    color: #fff;
    text-decoration: none;
  }
  &.is-open{
    background-color: $color-gray;
    height: auto;
    &:after{
      border-top-color: $color-gray;
    }
  }
  // border-color: $secondary-color;
  width: $primary-nav-width; //Customize me based on content!
}

#drawer-nav{
   background: $button-color !important;

    a{
        color: $link-color;
        text-decoration: none;
    }
    .level-1{
        border-color: none;

        >.menu{
          border-color: none;
          background-color: inherit;
          @include breakpoint($bp1){
            background-color: inherit;
          }
          @include breakpoint($bp2){
            background-color: inherit;
          }
        }
    }
    .level-2{
      @include breakpoint($bp1){
        float: left;
        width: 33%;
        line-height: 1.2;
        @include font-size(1.7);
        margin-bottom: 6px;
      }
      @include breakpoint($bp2){
        width: 20%;
        line-height: 1.2;
        @include font-size(1.7);
        margin-bottom: 6px;
        padding-right: 0.6em;
      }

    }
    .level-3.active-trail{
      background-color: $button-color;
    }
    @include breakpoint($bp1){
      background: $primary-nav-background-color;
    }
}

#drawer-nav .level-2 > .menu {
    margin-top: 0.4em;
}

#active-second-level-nav{
  background: $button-color;
  .level-2{
  }
    a{
        color: $link-color;
        text-decoration: none;
    }
    a:hover {
        color: $text-color;
        text-decoration: none;
    }
    .level-2:after{
      border-color: $primary-nav-background-color;
    }
    @include breakpoint($bp1){
      .active-trail>a{
          @include retina-image('../images/double_arrow', 16px 20px, png);
          background-size: 16px 20px;
          background-repeat: no-repeat;
          padding-top: 6px;
          padding-bottom: 6px;
          background-position: 100% 50%;
          color: $link-color;
      }
      .active-trail>a:hover {
          color: $text-color;
          text-decoration: none;
      }
    }
}

#active-third-level-nav{
  background: $third-level-nav-background-color;
  border-color: $quadrary-color;
  a{
    color: $link-color;
  }
  a:hover{
    color: $text-color;
    text-decoration: none;
  }
  .active{
    color: $link-color;
    font-weight: bold;
  }
  .level-3.active-trail:before{
    border-top-color: $color-gray;
  }
}

#body-nav{
    background: $body-nav-background-color;
    color: $base-color;
    li:after{
      border-color: #fff transparent transparent transparent;
    }
    a{
      color: $base-color;
      text-decoration: none;
    }
}

#mobile-sub-nav:after{
  border-color: transparent transparent $base-color transparent;
}

#second-level-nav .wcmc-button{
  background-color: $body-nav-background-color;
  transition: background-color .25s;
  color: $link-color;
  border: 1px solid #e1e1e1;
  font-family: "ff-meta-web-pro",sans-serif;
  &:hover{
    color: $link-color;
    background-color: darken($body-nav-background-color, 8%);
    text-decoration: none;
  }
}

.breadcrumb {
    color: $text-color;
    a {
     text-decoration: underline;
    }
    .last a{
   text-decoration: underline;
    }
}

#active-third-level-nav {
    background: inherit;
    border-color: #D8D2C9;
}

.expand-menu {
  color: $color-gray;
}

ul.menu {
  color: $link-color;
  @include font-size(1.6);
  font-weight: normal;
}

#body-nav .is-expanded {
  color: $link-color;
}

#body-nav li:after {
    border-color: #275768 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);;
}

#body-nav a {
  color: $link-color;
}

.lt-ie9 #active-third-level-nav .menu {
    text-align: left;
}


/* =============================================================================
   ~Home
   ========================================================================== */

.front #main {
  max-width: none;
  padding: 0;
}

.front .panel-classic-3col #main-content {
  @include breakpoint($bp2) {
    width: 960px;
    margin: 0 auto;
    @include box-sizing(border-box);
  }
}

.slide-text {
    background: rgba(255,255,245, 0.85);
    width: 100%;
    padding: 0.6em;
    @include breakpoint($bp2){
      left: 53%;
      width: 355px;
      padding: 1em 1.5em;
    }
}

  .slide-text h2 {
    font-family: "ff-meta-web-pro",sans-serif;
    @include font-size(1.8);
    color: $text-color;
    font-weight: bold;
    margin-bottom: 0.2em;
    @include breakpoint($bp2){
      margin-bottom: 0;
    }
  }

  .slide-text p {
    font-family: "ff-meta-web-pro",sans-serif;
    @include font-size(1.6);
    color: $text-color;
    margin: 0.5em 0.3em 0.3em 0;
      padding: 0;
  }

.view-carousel {
  margin: 0 0 25px;
}

img.panopoly-image-full {
  margin-bottom: 0 !important;
}

.customSelect {
  background: url('../images/arrow_down.png') no-repeat 96% center #fcfffa;
  border: 1px solid #e0e0dc;
  padding: 0.3em 0.4em 0.3em 0.4em;
  width: 96%;
  @include breakpoint($bp1){
    width: 97%;
  }
  @include breakpoint($bp2){
    width: 93%;
  }
}

.pane-fpid-67 {
  margin-top: 1.5em;
}
  .pane-fpid-67 ul {
    padding-left: 1em;
  }

.pane-uuid-e450cb7c-d3e1-4fbd-a546-9f89657e7499 {
  margin: 2.2em 0 1em;
}

.pane-fpid-77 {
  margin: -1em 0 2.5em 0;
}

ul.residency-program {
  margin: 0;
  padding: 0;
}

  .residency-program li {
    display: block;
    padding: 1.5em 1em 1.5em 6em;
    margin: 0 0 0.8em 0;
    @include breakpoint($bp1){
      padding: 1.5em 1em 1.5em 6em;
    }
    @include breakpoint($bp2){
      width: 68%;
      padding: 1.5em 1em 1.5em 6em;
    }
  }

  .residency-program li:hover {
    background-color: darken($button-color, 8%);
    cursor: pointer;
  }

  .residency-program li a {
    text-decoration: none;
    @include font-size(1.8);
  }

  .residency-program li a:hover {
    color: $link-color;
  }

.blog {
  background: url('../images/blog.png') $button-color no-repeat 5% center;
}

.rotations {
  background: url('../images/rotations.png') $button-color no-repeat 5% center;
}

.curriculum {
  background: url('../images/curriculum.png') $button-color no-repeat 5% center;
}

.stimulation-center {
  background: url('../images/stimulation.png') $button-color no-repeat 5% center;
}

.front a > img {
  border-radius: 0;
  border: 1px solid #e1e1d7;
  margin-bottom: 0.5em;
}

h2.teaser-title {
  @include font-size(1.6);
  line-height:1.3em;
}


/* =============================================================================
   ~Body
   ========================================================================== */

#information-sidebar h3 {
  @include font-size(1.6);
  text-transform: uppercase;
  color: $text-color;
  font-family: "ff-meta-web-pro",sans-serif;
}

.panel-hero-3col #information-sidebar {
   @include font-size(1.4);
}

figure.hero-image {
    @include breakpoint($bp2){
      margin: 0 auto;
      margin-bottom: 1em;
    }
}

.hero-image figcaption {
    @include breakpoint($bp2){
    line-height: 1.2em;
    margin-top: 0.7em;
    }
}

.profile {
  @include breakpoint($bp2){
    float: left;
    width: 47%;
    padding-right: 15px;
    clear: none;
    margin: 0;
    height: 180px;
    overflow: none;
  }
}

.lt-ie9 .profile {
    margin-bottom: 25px;
}

.profile img {
  float: left;
  padding: 0 0.4em 0.4em 0;
}

.profile p {
  @include breakpoint($bp2){
    margin: 0;
    @include font-size(1.3);
  }
}

.profile-list {
  @include clearfix();
  width: 100%;
  margin-bottom: 1em;
}

  .profile-list h4 {
    @include font-size(1.8);
    font-family: "ff-meta-web-pro",sans-serif;
    font-weight: normal;
    margin-top: 0;
  }

  .profile-list img {
      float: left;
      padding: 0 0.4em 0.4em 0;
  }

  .profile-list p {
    padding-bottom: 0;
  }

.lt-ie9 .council h3 {
    @include breakpoint($bp2){
      margin-top: 1em;
      background: #ffddcc;
    }
}


.post-date {
  margin: 0.7em 0 0.5em 0;
}

.page-news h2.teaser-title,
.page-residency-blog h2.teaser-title  {
  @include font-size(2.4);
}

.teaser-image img.panopoly-image-quarter {
  @include clearfix();
  margin-bottom: 0.8em;
  @include breakpoint($bp1){
    float: right;
    margin-left: 0.5em;
    margin-right: 0;
  }
  @include breakpoint($bp1){
    float: right;
    margin-left: 0.5em;
    margin-right: 0;
  }
}

.page-news .post-date,
.page-residency-blog .post-date {
  margin: -0.8em 0 0.5em 0;
  font-weight: bold;
}

.page-news .teaser-text p {
  padding-bottom: 0.6rem;
}

.ui-widget-content,
.ui-widget-header {
  background: inherit;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
  background: $button-color;
}


.ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: $color-gray;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a,
.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #fff;
}

.ui-tabs .ui-tabs-panel {
    border-top: 1px solid #d8d2c9;
    padding: 1em 0;
    @include font-size(1.6);
    font-family: "ff-meta-web-pro",sans-serif;
    line-height: 2rem;
}

.pic-with-caption {
  float: right;
  margin-left: 1em;
  width: 20%;
}

.pic-with-caption .caption {
  @include font-size(1.4);
}

.logo-position {
  @include clearfix();
  width: 100%;
  margin-bottom: 0.5em;
  display: none;
  @include breakpoint($bp1){
   float: right;
   width: 40%;
   margin: 0 0 0.5em 0.5em;
   display: block;
  }
  @include breakpoint($bp2){
   float: right;
   width: 40%;
   margin: 0 0 0.5em 0.5em;
   display: block;
  }
}

tr.even, tr.odd,
.mobile-table tr.odd th, .mobile-table tr.odd,
.mobile-table tr.even th, .mobile-table tr.even  {
    background-color: inherit;
    border-bottom: 1px solid #D8D2C9;
}

.even td, .odd td,
th {
  padding: 0.5em 0.2em;
}

table.mobile-table {
  margin: 0;
}

.profile-list-image {
  float: left;
  margin-right: 0.5em;
  width: 100px;
  border-radius: 0;
  border: 1px solid #e2e2d8;
}

.views-row-odd,
.views-row-even {
  @include clearfix();
  margin-bottom: 0.5em;
}

.page-about-us-our-faculty a > img,
.page-our-people-faculty a > img,
.page-our-people-crna-roster a > img {
  border-radius: 0;
}

.page-about-us-our-faculty h2.display-name,
.page-our-people-faculty h2.display-name,
.page-our-people-crna-roster h2.display-name {
  @include font-size(2.0);
  color: $text-color;
  font-family: "ff-meta-web-pro",sans-serif;
}

.page-about-us-our-faculty h3,
.page-our-people-faculty h3,
.page-our-people-crna-roster h3 {
  @include font-size(1.6);
  text-transform: inherit;
  font-family: "ff-meta-web-pro",sans-serif;
  font-weight: normal;
}

.poster {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e2e2d8;
}

.poster img {
  margin-bottom: 0.5em;
}

.lt-ie9 .program-director-image {
  width: 150px;
  height: 200px;
}

/* =============================================================================
   ~Headshot Classes
   ========================================================================== */

.headshot {

  @include clearfix();
  margin-bottom: 20px;

  img {
    width: 115px;
    float: left;
    margin: 3px 15px 35px 0;
  }

  .headshot-details {
    float: left;
  }

  .name {
    font-weight: bold;
  }

  p {
    margin: 0;
    padding-bottom: 5px;
  }

  .title {
    padding-bottom: 10px;
  }
}

/* =============================================================================
   ~Residency Classes
   ========================================================================== */

.resident {
  width: 240px;
  height: 102px;
  float: left;
  text-align: left;
  margin: 10px;
  padding: 0px 15px 5px 0px;
  img {
    float: left;
    margin: 0px 10px 10px 0px;
    width: 49px;
    height: 72px;
  }
  b {
    @include font-size(1.4);
    line-height: 15px;
  }
  em {
    font-weight: bold;
  }
  .caption-text {
    display: block;
    color: #666666;
    @include font-size(1.2);
    line-height: 14px;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    text-align: left;
    vertical-align: inherit;
    text-transform: inherit;
    text-decoration: none;
    caption-side: bottom;
  }
}

// Hide in dropdown menu - too long of a list
#drawer-nav .menu-mlid-1225 > ul {
  display: none;
}

// Add some space for previous class list
.page-node-938 .field-name-body li {
  padding-bottom: 10px;
}

/* =============================================================================
   ~Components
   ========================================================================== */

  .wcmc-button{
    background-color: $button-color;
    color: $base-color;
    &:hover{
      text-decoration: none;
      color: $base-color;
    }
    footer &{
      background-color: $tertiary-color;
      color: $mobile-wcmc-text;
    }
  }
  .wcmc-social-button{
    background-color: $social-button-color;
    //bugfix for weirdness in border-radius
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .wcmc-social-button-facebook{
    color: $social-button-color;
    footer &{
      color: $tertiary-color;
    }
  }

  //Sorry, ugly 2 selectors here
  .facebook-button-background{
    @include transition(.25s);
    background-color: white;
    footer &{
      background-color: $mobile-wcmc-text;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }
  }
  .facebook-icon-container:hover .facebook-button-background{
    background-color: white;
  }

  .social-media{
    border-color: $quadrary-color;
  }

  #fellowships {
    display: none;
  }

  .alpha-pager {
    margin: 0 0 2em;
    padding: 0;
    a {
      padding: 0 0.5em 0 0.2em;
      border-right: 1px solid #ccc;
    }
    a.last {
      padding: 0 0 0 0.2em;
      border: none;
    }
  }

/* =============================================================================
   ~Footer
   ========================================================================== */
//The color of the footer is actually the body tag background color.
body{
}
footer{
  background-color: $primary-nav-background-color;
  color: $base-color;
}

.footer-primary-nav {
  border-color: $quadrary-color;
}

#footer-nav a{
  color: $base-color;
}

.disclaimer, .disclaimer a{
  color: $base-color;
}

footer .location,
footer .contact {
  color: $color-gray;
  @include font-size(1.3);
  line-height: 1.4em;
}

footer .contact {
  text-align: left;
  @include breakpoint($bp2){
    margin: 1.5em 0 0;
    float: left;
  }
}

.nyp-logo {
  float: left;
  background-image: url("../images/WCMC_web_white.png");
}

footer .department {
  @include breakpoint($bp1){
      display: block;
      float: left;
      width: 50%;
    }
    @include breakpoint($bp2){
      display: block;
      float: left;
      width: 25%;
      margin-right: 20px;
    }
}

footer .disclaimer {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    @include breakpoint($bp2){
      max-width: 30%;
    }
}

#footer-nav .level-1 {
    @include breakpoint($bp1){
      @include font-size(1.6);
      font-weight: normal;
    }
    @include breakpoint($bp2){
      @include font-size(1.6);
      font-weight: normal;
    }
}

footer .footer-wcmc {
  text-align: center;
    @include breakpoint($bp1){
      padding-top: 0;
    }
    @include breakpoint($bp2){
      border-top: 1px solid $quadrary-color;
      padding-top: 10px;
    }

}

footer .phone a {
  color: #9A9B9E;
}

  footer .phone a:hover {
  color: #fff;
  }

/* M E N U   O V E R R I D E S */
ul.mmenu-mm-list-level-1 > li.mm-opened {
  background-color: #ECEBEB;
}

ul.mmenu-mm-list-level-1 > li span.mmenu-block-title {
  text-transform: uppercase;
}

ul.mmenu-mm-list-level-3 > li span.mmenu-block-title {
  text-transform: none;
}

ul.mmenu-mm-list-level-2 > li.mm-opened {
  background-color: #fff;
}

nav.mm-menu.mm-basic {
  text-shadow: none;
}

.mmenu-mm-list-level-1 > li > a {
  color: #bcbdc0;
}

.mmenu-mm-list-level-1 > li.mm-opened > a,
.mmenu-mm-list-level-2 > li > a,
.mmenu-mm-list-level-3 > li > a {
  color: #7F7F7F;
}

.mmenu-mm-list-level-2 > li.active-trail > a {
  color: $cornell-red;
}

nav.mm-menu.mm-basic {
  background: #2d2f33;
}

nav.mm-menu.mm-basic.mm-vertical li.mm-opened > ul {
  padding: 0;
}

nav.mm-menu.mm-basic > .mm-list li {
  border-top: none;
  border-bottom: none;
}

ul.mmenu-mm-list-level-2 li {
  border-bottom: 1px solid #DFDFDF!important;
}

ul.mmenu-mm-list-level-3 li {
  border-bottom: none!important;
}

ul.mmenu-mm-list-level-2 li .mmenu-block-title {
  padding-left: 12px;
}

.mm-list > li > a, .mm-list > li > span {
  padding: 5px;
}

select#edit-search-type--4 {
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 3px 7px;
  float: left;
  font-size: 1.3rem;
  width: 33%;
  background-image: url("/sites/default/files/down-arrow.jpg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right 5px;
}

form#wcmc-search-widget--4 .form-item-search-type {
  margin-bottom: -14px;
}

#mmenu_right .form-item-search-keys + input[type="submit"] {
  border-radius: 0px;
  float: right;
  padding: 4px 6px;
  background: $cornell-red;
  font-size: 1.5rem;
  margin-right: 1px;
}

li.mmenu-block-wrap {
  margin: 0px auto 12px auto;
  background-color: #000;
  padding: 15px 8px 21px 8px;
  border: none;
}

input#edit-search-keys--4 {
  float: left;
  max-height: 23px;
  margin-bottom: 2px;
  max-width: 67%;
}

.mm-menu {
  width: 27%;
  min-width: 0px;
}

#reset-link {
  float: left;
  cursor: pointer;
  background: #04465c;
  padding: 5px 20px;
  width: 66%;
  text-align: left;
  border-right: 1px solid #fff;
}

#reset-link img {
  margin-right: 10px;
  float: left;
  padding-top: 2px;
}

p#reset {
  float: left;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.mm-header {
  padding: 0;
}

nav.mm-menu.mm-basic > .mm-header {
  height: 30px;
  color: #fff;
  line-height: 20px;
}

#close-menu {
  background: #04465c;
  float: left;
  padding: 5px 0px;
  width: 21%;
  cursor: pointer;
  height: 21px;
}

#menu-header-content {
  background: #04465c;
}

li.mmenu-expanded {
  display: none;
}

nav.mm-menu.mm-basic.mm-hasheader > .mm-panel {
  padding-top: 25px;
  padding-bottom: 0;
}

nav.mm-menu.mm-basic > .mm-footer {
  background-color: #04465c;
  height: 135px;
  a {
    color: #fff;
  }
}

a.mmenu-list:hover {
  text-decoration: underline;
}

#top-nav {
  background-color: #222;
  line-height: normal;
  p.search-label {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    padding: 17px 0px;
    @include font-size(1.5);
    letter-spacing: .1rem;
  }
  select#edit-search-type {
    float: left;
    border-radius: 0;
    padding: 3px 8px;
    @include font-size(1.2);
    -webkit-appearance: none;
    background-image: url("/sites/default/files/down-arrow.jpg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 5px;
  }
  input#edit-search-keys {
    float: left;
    margin-right: 5px;
    max-width: 27%;
    max-height: 26px;
  }
  .nav-block-inner {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 8px;
  }
  #search-block {
    float: left;
    width: 63%;
    max-height: 64px;
    input {
      border-radius: 0px;
      @include font-size(1.3);
      letter-spacing: .1rem;
      font-weight: normal;
    }
  }
  #slide-trigger {
    float: right;
    padding: 16px 24px 0px 0px;
    a#hamburger {
      color: #fff;
      @include font-size(1.7);
      text-transform: uppercase;
    }
  }
}

.clear {
  float: none;
  clear: both;
}

#themer-toggle{
  z-index: 999999!important;
}

