/* =============================================================================
   ~Sass Mixins
   ========================================================================== */
/*A variety of these are pulled from Bourbon so that it isn't a dependency*/
/* =============================================================================
   ~Useful classes
   ========================================================================== */
.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.stretchy {
  width: 100%;
  font-size: 0px; }

.float-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  float: left; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/* =============================================================================
   ~Base Elements
   ========================================================================== */
body {
  background: #f2faee;
  color: #301d1d;
  font-family: "ff-meta-web-pro",sans-serif; }

#page {
  background-color: #f2faee; }

h1, h2 {
  color: #301d1d;
  font-family: "skolar",serif;
  font-weight: normal; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }
  .lt-ie9 h1 {
    padding-bottom: 0; }
  @media screen and (min-width: 985px) {
    h1 {
      padding-bottom: 0; } }

h2 {
  color: #da7b1f;
  margin-top: 0;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 3.4rem; }

h3 {
  color: #301d1d; }

#main h1 {
  border-bottom: none; }

a {
  color: #275768;
  text-decoration: underline; }
  a:hover {
    color: #301d1d; }

p {
  padding-bottom: 1.4rem; }

.lt-ie9 .content {
  margin-bottom: 30px; }
@media screen and (min-width: 985px) {
  .content {
    margin-bottom: 30px; } }

.photo-icon {
  background: url("../images/overlay.png") no-repeat scroll 0 0 transparent;
  height: 60px; }

/* =============================================================================
   ~Header
   ========================================================================== */
header[role="banner"] {
  background: #04465c; }

.lt-ie9 .wrap {
  margin: 0 auto;
  width: 960px; }
@media screen and (min-width: 985px) {
  .wrap {
    margin: 0 auto;
    width: 960px; } }

.wcmc-branding, .dual-branding {
  border-color: #606a70; }
  .lt-ie9 .wcmc-branding, .lt-ie9 .dual-branding {
    background-color: inherit; }
  @media screen and (min-width: 600px) {
    .wcmc-branding, .dual-branding {
      background-color: inherit; } }
  .lt-ie9 .wcmc-branding, .lt-ie9 .dual-branding {
    border: none; }
  @media screen and (min-width: 985px) {
    .wcmc-branding, .dual-branding {
      border: none; } }

.weill-cornell-connect {
  background-color: inherit;
  border-color: #606a70; }
  .is-collapsed .weill-cornell-connect {
    border-color: #606a70; }

.wcmc-emblem, .wcmc-emblem:hover {
  color: #fff; }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC_web_white.png");
      background-size: 284px 62px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 600px) and (max-width: 984px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (max-width: 984px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (max-width: 984px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 600px) and (max-width: 984px) and (min-resolution: 125dpi), only screen and (min-width: 600px) and (max-width: 984px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC_web_white_2x.png"); } }

  .lt-ie9 .wcmc-emblem, .lt-ie9 .wcmc-emblem:hover {
    background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC-EMBLEM_web_white.png");
    background-size: 100px 100px;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .wcmc-emblem, .lt-ie9 .wcmc-emblem:hover {
        background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC-EMBLEM_web_white_2x.png"); } }
  @media screen and (min-width: 985px) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC-EMBLEM_web_white.png");
      background-size: 100px 100px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/WCMC-EMBLEM_web_white_2x.png"); } }

.nyp-brand, .nyp-brand:hover {
  color: #a5aeb4; }

.lt-ie9 .wcmc-emblem.full-logo {
  color: transparent; }
@media screen and (min-width: 600px) {
  .wcmc-emblem.full-logo {
    color: transparent; } }

.wcmc-links {
  background: #04465C;
  border-color: #606a70; }

.wcmc-primary-nav-item {
  color: #fff; }
  .wcmc-primary-nav-item:hover {
    color: #fff; }
  .wcmc-primary-nav-item:after {
    border-color: #0f0f0f; }

.lt-ie9 .wcmc-links-expander {
  background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/sprites/navigation_drawer.png");
  background-size: 16px 100px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .lt-ie9 .wcmc-links-expander {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/sprites/navigation_drawer_2x.png"); } }
@media screen and (min-width: 985px) {
  .wcmc-links-expander {
    background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/sprites/navigation_drawer.png");
    background-size: 16px 100px;
    background-repeat: no-repeat; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-links-expander {
      background-image: url("../../../../../profiles/wcmc/themes/wcmc_base/images/sprites/navigation_drawer_2x.png"); } }

.global-search {
  border-color: #606a70; }
  .global-search select {
    color: #606a70;
    border-color: #606a70; }
  .global-search input {
    border-color: #606a70; }
  .global-search .search-button {
    border-color: #606a70; }

.site-branding h1 {
  font-family: "minion-pro",sans-serif;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize; }
  .site-branding h1, .site-branding h1 a {
    color: #fff;
    font-size: 25px;
    font-size: 2.5rem; }
    .lt-ie9 .site-branding h1, .lt-ie9 .site-branding h1 a {
      font-size: 52px;
      font-size: 5.2rem;
      margin: -0.2em 0 0.2em 0;
      color: #fff; }
    @media screen and (min-width: 600px) {
      .site-branding h1, .site-branding h1 a {
        font-size: 52px;
        font-size: 5.2rem;
        margin: -0.2em 0 0.2em 0;
        color: #fff; } }
    .lt-ie9 .site-branding h1, .lt-ie9 .site-branding h1 a {
      font-size: 52px;
      font-size: 5.2rem;
      margin-top: -0.2em;
      color: #fff; }
    @media screen and (min-width: 985px) {
      .site-branding h1, .site-branding h1 a {
        font-size: 52px;
        font-size: 5.2rem;
        margin-top: -0.2em;
        color: #fff; } }
    .site-branding h1 .affiliation, .site-branding h1 a .affiliation {
      display: none; }
      .lt-ie9 .site-branding h1 .affiliation, .lt-ie9 .site-branding h1 a .affiliation {
        display: block;
        margin-top: -0.8em;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1em;
        color: #fff; }
      @media screen and (min-width: 985px) {
        .site-branding h1 .affiliation, .site-branding h1 a .affiliation {
          display: block;
          margin-top: -0.8em;
          font-size: 18px;
          font-size: 1.8rem;
          line-height: 1em;
          color: #fff; } }

.weill-cornell-connect {
  background-image: url("../images/wcc_icon.png");
  background-size: 25px 25px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .weill-cornell-connect {
      background-image: url("../images/wcc_icon_2x.png"); } }
  .lt-ie9 .weill-cornell-connect {
    background-image: url("../images/wcc_full_logo.png");
    background-size: 160px 25px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .weill-cornell-connect {
        background-image: url("../images/wcc_full_logo_2x.png"); } }
  @media screen and (min-width: 985px) {
    .weill-cornell-connect {
      background-image: url("../images/wcc_full_logo.png");
      background-size: 160px 25px; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .weill-cornell-connect {
      background-image: url("../images/wcc_full_logo_2x.png"); } }

  .lt-ie9 .is-collapsed .weill-cornell-connect {
    background-image: url("../wcc_icon.png");
    background-size: 25px 25px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .is-collapsed .weill-cornell-connect {
        background-image: url("../wcc_icon_2x.png"); } }
  @media screen and (min-width: 985px) {
    .is-collapsed .weill-cornell-connect {
      background-image: url("../wcc_icon.png");
      background-size: 25px 25px; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .is-collapsed .weill-cornell-connect {
      background-image: url("../wcc_icon_2x.png"); } }

.is-collapsed .weill-cornell-connect {
  background-image: url("../images/wcc_icon.png");
  background-size: 25px 25px; }

#edit-search-type,
#top-nav .global-search select {
  font-size: 11px;
  font-size: 1.1rem; }

.wcmc-etc {
  background: #222222; }

/* =============================================================================
   ~Navigation
   ========================================================================== */
.menu-button {
  color: #9a9b9e; }
  .menu-button.is-expanded {
    background: #fffff5; }

#top-nav {
  color: #fff;
  background-color: #fffff5; }
  .lt-ie9 #top-nav {
    background-color: #f2faee; }
  @media screen and (min-width: 600px) {
    #top-nav {
      background-color: #f2faee; } }

#primary-nav {
  background-color: #222222;
  border-color: #fffff5;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem; }

#primary-nav .active-trail {
  background: #222222; }
  #primary-nav .active-trail.temp-inactive {
    background: transparent; }

#top-nav a:hover {
  color: #222222; }

#primary-nav .level-1 {
  width: auto; }
  #primary-nav .level-1 a {
    color: #fff;
    text-decoration: none; }
  #primary-nav .level-1.is-open {
    background-color: #9a9b9e;
    height: auto; }
    #primary-nav .level-1.is-open:after {
      border-top-color: #9a9b9e; }

#drawer-nav {
  background: #fffff5 !important; }
  #drawer-nav a {
    color: #275768;
    text-decoration: none; }
  #drawer-nav .level-1 {
    border-color: none; }
    #drawer-nav .level-1 > .menu {
      border-color: none;
      background-color: inherit; }
      .lt-ie9 #drawer-nav .level-1 > .menu {
        background-color: inherit; }
      @media screen and (min-width: 600px) {
        #drawer-nav .level-1 > .menu {
          background-color: inherit; } }
      .lt-ie9 #drawer-nav .level-1 > .menu {
        background-color: inherit; }
      @media screen and (min-width: 985px) {
        #drawer-nav .level-1 > .menu {
          background-color: inherit; } }
  .lt-ie9 #drawer-nav .level-2 {
    float: left;
    width: 33%;
    line-height: 1.2;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: 6px; }
  @media screen and (min-width: 600px) {
    #drawer-nav .level-2 {
      float: left;
      width: 33%;
      line-height: 1.2;
      font-size: 17px;
      font-size: 1.7rem;
      margin-bottom: 6px; } }
  .lt-ie9 #drawer-nav .level-2 {
    width: 20%;
    line-height: 1.2;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: 6px;
    padding-right: 0.6em; }
  @media screen and (min-width: 985px) {
    #drawer-nav .level-2 {
      width: 20%;
      line-height: 1.2;
      font-size: 17px;
      font-size: 1.7rem;
      margin-bottom: 6px;
      padding-right: 0.6em; } }
  #drawer-nav .level-3.active-trail {
    background-color: #fffff5; }
  .lt-ie9 #drawer-nav {
    background: #222222; }
  @media screen and (min-width: 600px) {
    #drawer-nav {
      background: #222222; } }

#drawer-nav .level-2 > .menu {
  margin-top: 0.4em; }

#active-second-level-nav {
  background: #fffff5; }
  #active-second-level-nav a {
    color: #275768;
    text-decoration: none; }
  #active-second-level-nav a:hover {
    color: #301d1d;
    text-decoration: none; }
  #active-second-level-nav .level-2:after {
    border-color: #222222; }
  .lt-ie9 #active-second-level-nav .active-trail > a {
    background-image: url("../images/double_arrow.png");
    background-size: 16px 20px;
    background-size: 16px 20px;
    background-repeat: no-repeat;
    padding-top: 6px;
    padding-bottom: 6px;
    background-position: 100% 50%;
    color: #275768; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 #active-second-level-nav .active-trail > a {
        background-image: url("../images/double_arrow_2x.png"); } }
  .lt-ie9 #active-second-level-nav .active-trail > a:hover {
    color: #301d1d;
    text-decoration: none; }
  @media screen and (min-width: 600px) {
    #active-second-level-nav .active-trail > a {
      background-image: url("../images/double_arrow.png");
      background-size: 16px 20px;
      background-size: 16px 20px;
      background-repeat: no-repeat;
      padding-top: 6px;
      padding-bottom: 6px;
      background-position: 100% 50%;
      color: #275768; } }
  @media only screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 600px) and (min-resolution: 125dpi), only screen and (min-width: 600px) and (min-resolution: 1.3dppx) {
    #active-second-level-nav .active-trail > a {
      background-image: url("../images/double_arrow_2x.png"); } }
  @media screen and (min-width: 600px) {
    #active-second-level-nav .active-trail > a:hover {
      color: #301d1d;
      text-decoration: none; } }

#active-third-level-nav {
  background: #ffffff;
  border-color: #0f0f0f; }
  #active-third-level-nav a {
    color: #275768; }
  #active-third-level-nav a:hover {
    color: #301d1d;
    text-decoration: none; }
  #active-third-level-nav .active {
    color: #275768;
    font-weight: bold; }
  #active-third-level-nav .level-3.active-trail:before {
    border-top-color: #9a9b9e; }

#body-nav {
  background: #fffff5;
  color: #ffffff; }
  #body-nav li:after {
    border-color: #fff transparent transparent transparent; }
  #body-nav a {
    color: #ffffff;
    text-decoration: none; }

#mobile-sub-nav:after {
  border-color: transparent transparent #ffffff transparent; }

#second-level-nav .wcmc-button {
  background-color: #fffff5;
  transition: background-color .25s;
  color: #275768;
  border: 1px solid #e1e1e1;
  font-family: "ff-meta-web-pro",sans-serif; }
  #second-level-nav .wcmc-button:hover {
    color: #275768;
    background-color: #ffffcc;
    text-decoration: none; }

.breadcrumb {
  color: #301d1d; }
  .breadcrumb a {
    text-decoration: underline; }
  .breadcrumb .last a {
    text-decoration: underline; }

#active-third-level-nav {
  background: inherit;
  border-color: #D8D2C9; }

.expand-menu {
  color: #9a9b9e; }

ul.menu {
  color: #275768;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal; }

#body-nav .is-expanded {
  color: #275768; }

#body-nav li:after {
  border-color: #275768 transparent transparent; }

#body-nav a {
  color: #275768; }

.lt-ie9 #active-third-level-nav .menu {
  text-align: left; }

/* =============================================================================
   ~Home
   ========================================================================== */
.front #main {
  max-width: none;
  padding: 0; }

.lt-ie9 .front .panel-classic-3col #main-content {
  width: 960px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media screen and (min-width: 985px) {
  .front .panel-classic-3col #main-content {
    width: 960px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

.slide-text {
  background: rgba(255, 255, 245, 0.85);
  width: 100%;
  padding: 0.6em; }
  .lt-ie9 .slide-text {
    left: 53%;
    width: 355px;
    padding: 1em 1.5em; }
  @media screen and (min-width: 985px) {
    .slide-text {
      left: 53%;
      width: 355px;
      padding: 1em 1.5em; } }

.slide-text h2 {
  font-family: "ff-meta-web-pro",sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  color: #301d1d;
  font-weight: bold;
  margin-bottom: 0.2em; }
  .lt-ie9 .slide-text h2 {
    margin-bottom: 0; }
  @media screen and (min-width: 985px) {
    .slide-text h2 {
      margin-bottom: 0; } }

.slide-text p {
  font-family: "ff-meta-web-pro",sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #301d1d;
  margin: 0.5em 0.3em 0.3em 0;
  padding: 0; }

.view-carousel {
  margin: 0 0 25px; }

img.panopoly-image-full {
  margin-bottom: 0 !important; }

.customSelect {
  background: url("../images/arrow_down.png") no-repeat 96% center #fcfffa;
  border: 1px solid #e0e0dc;
  padding: 0.3em 0.4em 0.3em 0.4em;
  width: 96%; }
  .lt-ie9 .customSelect {
    width: 97%; }
  @media screen and (min-width: 600px) {
    .customSelect {
      width: 97%; } }
  .lt-ie9 .customSelect {
    width: 93%; }
  @media screen and (min-width: 985px) {
    .customSelect {
      width: 93%; } }

.pane-fpid-67 {
  margin-top: 1.5em; }

.pane-fpid-67 ul {
  padding-left: 1em; }

.pane-uuid-e450cb7c-d3e1-4fbd-a546-9f89657e7499 {
  margin: 2.2em 0 1em; }

.pane-fpid-77 {
  margin: -1em 0 2.5em 0; }

ul.residency-program {
  margin: 0;
  padding: 0; }

.residency-program li {
  display: block;
  padding: 1.5em 1em 1.5em 6em;
  margin: 0 0 0.8em 0; }
  .lt-ie9 .residency-program li {
    padding: 1.5em 1em 1.5em 6em; }
  @media screen and (min-width: 600px) {
    .residency-program li {
      padding: 1.5em 1em 1.5em 6em; } }
  .lt-ie9 .residency-program li {
    width: 68%;
    padding: 1.5em 1em 1.5em 6em; }
  @media screen and (min-width: 985px) {
    .residency-program li {
      width: 68%;
      padding: 1.5em 1em 1.5em 6em; } }

.residency-program li:hover {
  background-color: #ffffcc;
  cursor: pointer; }

.residency-program li a {
  text-decoration: none;
  font-size: 18px;
  font-size: 1.8rem; }

.residency-program li a:hover {
  color: #275768; }

.blog {
  background: url("../images/blog.png") #fffff5 no-repeat 5% center; }

.rotations {
  background: url("../images/rotations.png") #fffff5 no-repeat 5% center; }

.curriculum {
  background: url("../images/curriculum.png") #fffff5 no-repeat 5% center; }

.stimulation-center {
  background: url("../images/stimulation.png") #fffff5 no-repeat 5% center; }

.front a > img {
  border-radius: 0;
  border: 1px solid #e1e1d7;
  margin-bottom: 0.5em; }

h2.teaser-title {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3em; }

/* =============================================================================
   ~Body
   ========================================================================== */
#information-sidebar h3 {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #301d1d;
  font-family: "ff-meta-web-pro",sans-serif; }

.panel-hero-3col #information-sidebar {
  font-size: 14px;
  font-size: 1.4rem; }

.lt-ie9 figure.hero-image {
  margin: 0 auto;
  margin-bottom: 1em; }
@media screen and (min-width: 985px) {
  figure.hero-image {
    margin: 0 auto;
    margin-bottom: 1em; } }

.lt-ie9 .hero-image figcaption {
  line-height: 1.2em;
  margin-top: 0.7em; }
@media screen and (min-width: 985px) {
  .hero-image figcaption {
    line-height: 1.2em;
    margin-top: 0.7em; } }

.lt-ie9 .profile {
  float: left;
  width: 47%;
  padding-right: 15px;
  clear: none;
  margin: 0;
  height: 180px;
  overflow: none; }
@media screen and (min-width: 985px) {
  .profile {
    float: left;
    width: 47%;
    padding-right: 15px;
    clear: none;
    margin: 0;
    height: 180px;
    overflow: none; } }

.lt-ie9 .profile {
  margin-bottom: 25px; }

.profile img {
  float: left;
  padding: 0 0.4em 0.4em 0; }

.lt-ie9 .profile p {
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem; }
@media screen and (min-width: 985px) {
  .profile p {
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem; } }

.profile-list {
  *zoom: 1;
  width: 100%;
  margin-bottom: 1em; }
  .profile-list:before, .profile-list:after {
    content: "";
    display: table; }
  .profile-list:after {
    clear: both; }

.profile-list h4 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "ff-meta-web-pro",sans-serif;
  font-weight: normal;
  margin-top: 0; }

.profile-list img {
  float: left;
  padding: 0 0.4em 0.4em 0; }

.profile-list p {
  padding-bottom: 0; }

.lt-ie9 .lt-ie9 .council h3 {
  margin-top: 1em;
  background: #ffddcc; }
@media screen and (min-width: 985px) {
  .lt-ie9 .council h3 {
    margin-top: 1em;
    background: #ffddcc; } }

.post-date {
  margin: 0.7em 0 0.5em 0; }

.page-news h2.teaser-title,
.page-residency-blog h2.teaser-title {
  font-size: 24px;
  font-size: 2.4rem; }

.teaser-image img.panopoly-image-quarter {
  *zoom: 1;
  margin-bottom: 0.8em; }
  .teaser-image img.panopoly-image-quarter:before, .teaser-image img.panopoly-image-quarter:after {
    content: "";
    display: table; }
  .teaser-image img.panopoly-image-quarter:after {
    clear: both; }
  .lt-ie9 .teaser-image img.panopoly-image-quarter {
    float: right;
    margin-left: 0.5em;
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .teaser-image img.panopoly-image-quarter {
      float: right;
      margin-left: 0.5em;
      margin-right: 0; } }
  .lt-ie9 .teaser-image img.panopoly-image-quarter {
    float: right;
    margin-left: 0.5em;
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .teaser-image img.panopoly-image-quarter {
      float: right;
      margin-left: 0.5em;
      margin-right: 0; } }

.page-news .post-date,
.page-residency-blog .post-date {
  margin: -0.8em 0 0.5em 0;
  font-weight: bold; }

.page-news .teaser-text p {
  padding-bottom: 0.6rem; }

.ui-widget-content,
.ui-widget-header {
  background: inherit; }

.ui-tabs .ui-tabs-nav li.ui-state-default {
  background: #fffff5; }

.ui-tabs .ui-tabs-nav li.ui-state-active, .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: #9a9b9e; }

.ui-tabs .ui-tabs-nav li.ui-state-active a,
.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #fff; }

.ui-tabs .ui-tabs-panel {
  border-top: 1px solid #d8d2c9;
  padding: 1em 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "ff-meta-web-pro",sans-serif;
  line-height: 2rem; }

.pic-with-caption {
  float: right;
  margin-left: 1em;
  width: 20%; }

.pic-with-caption .caption {
  font-size: 14px;
  font-size: 1.4rem; }

.logo-position {
  *zoom: 1;
  width: 100%;
  margin-bottom: 0.5em;
  display: none; }
  .logo-position:before, .logo-position:after {
    content: "";
    display: table; }
  .logo-position:after {
    clear: both; }
  .lt-ie9 .logo-position {
    float: right;
    width: 40%;
    margin: 0 0 0.5em 0.5em;
    display: block; }
  @media screen and (min-width: 600px) {
    .logo-position {
      float: right;
      width: 40%;
      margin: 0 0 0.5em 0.5em;
      display: block; } }
  .lt-ie9 .logo-position {
    float: right;
    width: 40%;
    margin: 0 0 0.5em 0.5em;
    display: block; }
  @media screen and (min-width: 985px) {
    .logo-position {
      float: right;
      width: 40%;
      margin: 0 0 0.5em 0.5em;
      display: block; } }

tr.even, tr.odd,
.mobile-table tr.odd th, .mobile-table tr.odd,
.mobile-table tr.even th, .mobile-table tr.even {
  background-color: inherit;
  border-bottom: 1px solid #D8D2C9; }

.even td, .odd td,
th {
  padding: 0.5em 0.2em; }

table.mobile-table {
  margin: 0; }

.profile-list-image {
  float: left;
  margin-right: 0.5em;
  width: 100px;
  border-radius: 0;
  border: 1px solid #e2e2d8; }

.views-row-odd,
.views-row-even {
  *zoom: 1;
  margin-bottom: 0.5em; }
  .views-row-odd:before, .views-row-odd:after,
  .views-row-even:before,
  .views-row-even:after {
    content: "";
    display: table; }
  .views-row-odd:after,
  .views-row-even:after {
    clear: both; }

.page-about-us-our-faculty a > img,
.page-our-people-faculty a > img,
.page-our-people-crna-roster a > img {
  border-radius: 0; }

.page-about-us-our-faculty h2.display-name,
.page-our-people-faculty h2.display-name,
.page-our-people-crna-roster h2.display-name {
  font-size: 20px;
  font-size: 2rem;
  color: #301d1d;
  font-family: "ff-meta-web-pro",sans-serif; }

.page-about-us-our-faculty h3,
.page-our-people-faculty h3,
.page-our-people-crna-roster h3 {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: inherit;
  font-family: "ff-meta-web-pro",sans-serif;
  font-weight: normal; }

.poster {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e2e2d8; }

.poster img {
  margin-bottom: 0.5em; }

.lt-ie9 .program-director-image {
  width: 150px;
  height: 200px; }

/* =============================================================================
   ~Headshot Classes
   ========================================================================== */
.headshot {
  *zoom: 1;
  margin-bottom: 20px; }
  .headshot:before, .headshot:after {
    content: "";
    display: table; }
  .headshot:after {
    clear: both; }
  .headshot img {
    width: 115px;
    float: left;
    margin: 3px 15px 35px 0; }
  .headshot .headshot-details {
    float: left; }
  .headshot .name {
    font-weight: bold; }
  .headshot p {
    margin: 0;
    padding-bottom: 5px; }
  .headshot .title {
    padding-bottom: 10px; }

/* =============================================================================
   ~Residency Classes
   ========================================================================== */
.resident {
  width: 240px;
  height: 102px;
  float: left;
  text-align: left;
  margin: 10px;
  padding: 0px 15px 5px 0px; }
  .resident img {
    float: left;
    margin: 0px 10px 10px 0px;
    width: 49px;
    height: 72px; }
  .resident b {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 15px; }
  .resident em {
    font-weight: bold; }
  .resident .caption-text {
    display: block;
    color: #666666;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 14px;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    text-align: left;
    vertical-align: inherit;
    text-transform: inherit;
    text-decoration: none;
    caption-side: bottom; }

#drawer-nav .menu-mlid-1225 > ul {
  display: none; }

.page-node-938 .field-name-body li {
  padding-bottom: 10px; }

/* =============================================================================
   ~Components
   ========================================================================== */
.wcmc-button {
  background-color: #fffff5;
  color: #ffffff; }
  .wcmc-button:hover {
    text-decoration: none;
    color: #ffffff; }
  footer .wcmc-button {
    background-color: #222222;
    color: #a5aeb4; }

.wcmc-social-button {
  background-color: #89cce2;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.wcmc-social-button-facebook {
  color: #89cce2; }
  footer .wcmc-social-button-facebook {
    color: #222222; }

.facebook-button-background {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background-color: white; }
  footer .facebook-button-background {
    background-color: #a5aeb4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

.facebook-icon-container:hover .facebook-button-background {
  background-color: white; }

.social-media {
  border-color: #0f0f0f; }

#fellowships {
  display: none; }

.alpha-pager {
  margin: 0 0 2em;
  padding: 0; }
  .alpha-pager a {
    padding: 0 0.5em 0 0.2em;
    border-right: 1px solid #ccc; }
  .alpha-pager a.last {
    padding: 0 0 0 0.2em;
    border: none; }

/* =============================================================================
   ~Footer
   ========================================================================== */
footer {
  background-color: #222222;
  color: #ffffff; }

.footer-primary-nav {
  border-color: #0f0f0f; }

#footer-nav a {
  color: #ffffff; }

.disclaimer, .disclaimer a {
  color: #ffffff; }

footer .location,
footer .contact {
  color: #9a9b9e;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.4em; }

footer .contact {
  text-align: left; }
  .lt-ie9 footer .contact {
    margin: 1.5em 0 0;
    float: left; }
  @media screen and (min-width: 985px) {
    footer .contact {
      margin: 1.5em 0 0;
      float: left; } }

.nyp-logo {
  float: left;
  background-image: url("../images/WCMC_web_white.png"); }

.lt-ie9 footer .department {
  display: block;
  float: left;
  width: 50%; }
@media screen and (min-width: 600px) {
  footer .department {
    display: block;
    float: left;
    width: 50%; } }
.lt-ie9 footer .department {
  display: block;
  float: left;
  width: 25%;
  margin-right: 20px; }
@media screen and (min-width: 985px) {
  footer .department {
    display: block;
    float: left;
    width: 25%;
    margin-right: 20px; } }

footer .disclaimer {
  margin-top: 20px;
  width: 100%;
  text-align: left; }
  .lt-ie9 footer .disclaimer {
    max-width: 30%; }
  @media screen and (min-width: 985px) {
    footer .disclaimer {
      max-width: 30%; } }

.lt-ie9 #footer-nav .level-1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal; }
@media screen and (min-width: 600px) {
  #footer-nav .level-1 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal; } }
.lt-ie9 #footer-nav .level-1 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal; }
@media screen and (min-width: 985px) {
  #footer-nav .level-1 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal; } }

footer .footer-wcmc {
  text-align: center; }
  .lt-ie9 footer .footer-wcmc {
    padding-top: 0; }
  @media screen and (min-width: 600px) {
    footer .footer-wcmc {
      padding-top: 0; } }
  .lt-ie9 footer .footer-wcmc {
    border-top: 1px solid #0f0f0f;
    padding-top: 10px; }
  @media screen and (min-width: 985px) {
    footer .footer-wcmc {
      border-top: 1px solid #0f0f0f;
      padding-top: 10px; } }

footer .phone a {
  color: #9A9B9E; }

footer .phone a:hover {
  color: #fff; }

/* M E N U   O V E R R I D E S */
ul.mmenu-mm-list-level-1 > li.mm-opened {
  background-color: #ECEBEB; }

ul.mmenu-mm-list-level-1 > li span.mmenu-block-title {
  text-transform: uppercase; }

ul.mmenu-mm-list-level-3 > li span.mmenu-block-title {
  text-transform: none; }

ul.mmenu-mm-list-level-2 > li.mm-opened {
  background-color: #fff; }

nav.mm-menu.mm-basic {
  text-shadow: none; }

.mmenu-mm-list-level-1 > li > a {
  color: #bcbdc0; }

.mmenu-mm-list-level-1 > li.mm-opened > a,
.mmenu-mm-list-level-2 > li > a,
.mmenu-mm-list-level-3 > li > a {
  color: #7F7F7F; }

.mmenu-mm-list-level-2 > li.active-trail > a {
  color: #ff0000; }

nav.mm-menu.mm-basic {
  background: #2d2f33; }

nav.mm-menu.mm-basic.mm-vertical li.mm-opened > ul {
  padding: 0; }

nav.mm-menu.mm-basic > .mm-list li {
  border-top: none;
  border-bottom: none; }

ul.mmenu-mm-list-level-2 li {
  border-bottom: 1px solid #DFDFDF !important; }

ul.mmenu-mm-list-level-3 li {
  border-bottom: none !important; }

ul.mmenu-mm-list-level-2 li .mmenu-block-title {
  padding-left: 12px; }

.mm-list > li > a, .mm-list > li > span {
  padding: 5px; }

select#edit-search-type--4 {
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 3px 7px;
  float: left;
  font-size: 1.3rem;
  width: 33%;
  background-image: url("/sites/default/files/down-arrow.jpg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right 5px; }

form#wcmc-search-widget--4 .form-item-search-type {
  margin-bottom: -14px; }

#mmenu_right .form-item-search-keys + input[type="submit"] {
  border-radius: 0px;
  float: right;
  padding: 4px 6px;
  background: #ff0000;
  font-size: 1.5rem;
  margin-right: 1px; }

li.mmenu-block-wrap {
  margin: 0px auto 12px auto;
  background-color: #000;
  padding: 15px 8px 21px 8px;
  border: none; }

input#edit-search-keys--4 {
  float: left;
  max-height: 23px;
  margin-bottom: 2px;
  max-width: 67%; }

.mm-menu {
  width: 27%;
  min-width: 0px; }

#reset-link {
  float: left;
  cursor: pointer;
  background: #04465c;
  padding: 5px 20px;
  width: 66%;
  text-align: left;
  border-right: 1px solid #fff; }

#reset-link img {
  margin-right: 10px;
  float: left;
  padding-top: 2px; }

p#reset {
  float: left;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem; }

.mm-header {
  padding: 0; }

nav.mm-menu.mm-basic > .mm-header {
  height: 30px;
  color: #fff;
  line-height: 20px; }

#close-menu {
  background: #04465c;
  float: left;
  padding: 5px 0px;
  width: 21%;
  cursor: pointer;
  height: 21px; }

#menu-header-content {
  background: #04465c; }

li.mmenu-expanded {
  display: none; }

nav.mm-menu.mm-basic.mm-hasheader > .mm-panel {
  padding-top: 25px;
  padding-bottom: 0; }

nav.mm-menu.mm-basic > .mm-footer {
  background-color: #04465c;
  height: 135px; }
  nav.mm-menu.mm-basic > .mm-footer a {
    color: #fff; }

a.mmenu-list:hover {
  text-decoration: underline; }

#top-nav {
  background-color: #222;
  line-height: normal; }
  #top-nav p.search-label {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    padding: 17px 0px;
    font-size: 15px;
    font-size: 1.5rem;
    letter-spacing: .1rem; }
  #top-nav select#edit-search-type {
    float: left;
    border-radius: 0;
    padding: 3px 8px;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    background-image: url("/sites/default/files/down-arrow.jpg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 5px; }
  #top-nav input#edit-search-keys {
    float: left;
    margin-right: 5px;
    max-width: 27%;
    max-height: 26px; }
  #top-nav .nav-block-inner {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 8px; }
  #top-nav #search-block {
    float: left;
    width: 63%;
    max-height: 64px; }
    #top-nav #search-block input {
      border-radius: 0px;
      font-size: 13px;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      font-weight: normal; }
  #top-nav #slide-trigger {
    float: right;
    padding: 16px 24px 0px 0px; }
    #top-nav #slide-trigger a#hamburger {
      color: #fff;
      font-size: 17px;
      font-size: 1.7rem;
      text-transform: uppercase; }

.clear {
  float: none;
  clear: both; }

#themer-toggle {
  z-index: 999999 !important; }
