/*
This file is just for the body layout. To make it responsive, it works with wcmc_hero_threecol.js
Which duplicates the related-content sidebar contents into an area below the fold for smaller screens
The JS also checks for position:sticky support and calls a polyfill from the main wcmc theme JS if not supported
-Alan
*/
@import "../../scss/_variables";
@import "../../scss/_mixins";
/* =Three Column
----------------------------------------------------------*/
$col1: 72%;

#main {
  min-height: 400px;
}

.panel-twocol {
  @include clearfix;
  position: relative;
}

.panel-twocol #main-content {
  @include box-sizingIEtoo(border-box);
  @include breakpoint($bp1){
    width: $col1;
    float: left;
    padding-right: 30px;
    min-height: 40em;
  }
}

.panel-twocol .information-column{
  top: 1em;
  @include box-sizingIEtoo(border-box);
  @include breakpoint($bp1){
    width: 27%;
    float: left;
  }
}

.panel-twocol #information-sidebar {
  @include breakpoint($bp1 $bp2){
    @include font-size(.85);
  }
}

#information-sidebar{
  text-align: center;
  @include breakpoint($bp1){
    text-align: left;
  }
}

#information-sidebar.bottom{
  @include breakpoint($bp1){
    position: absolute;
    bottom: 0;
    top: auto;
  }
}