/**
 *
 * Base elements styles
 *
 */

/* =============================================================================
   ~Utilities
   ========================================================================== */

html {
  font-size: 62.5%; /* Sets up the Base 10 Type for easier math */
}

body {
  font-family: Helvetica, Arial, sans-serif;
	width: 100%;
  // max-width: 960px;
  margin: 0 auto;
	@include clearfix();
}

p:first-child{
  margin-top: 0;
}

.ie8 img{
  width: inherit;
}

.main-content p a[href^="http"]:after{
  font-family: "SSStandard";
  content: '↪';
  font-size: 75%;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  display: inline-block;
  text-decoration: none;
  -ms-font-feature-settings: "liga" 1;
}

#related-content-sidebar, #related-content-inline{
  p a[href^="http"]:after{
    display: none;
  }
}

/* =============================================================================
   ~Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 700;
}

h1{
  @include font-size(3);
  font-family: "Adelle", serif; /*todo*/
  padding-bottom: .25em;
  line-height: 1.25;
}

h3{
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 .75em;
  @include font-size(1.8);
  @include breakpoint($bp1){
    @include font-size(1.4);
  }
}

a {
  color: #607890;
  text-decoration: none;
  transition: color .25s;
}

a:hover {
  color: #333;
}

body{
  @include font-size(1.7);
  line-height: 1.41;
  padding: 0;
  @include breakpoint($bp1){
    @include font-size(1.5);
    line-height: 1.333;
  }
}

figcaption{
  @include font-size(1.4);
  line-height: 1.25;
  @include breakpoint($bp1){
    @include font-size(1.2);
  }
}
