/**
 *
 * WCMC Component Styles
 *
 */

/*Pretty self explainatory- mostly components used throughout the sites
* attempting to be as free of theming and size restrictions as possible.
*/
@import "base";

/* ============================
  ~Page Regions
   ============================*/
.menu{
  margin: 0;
  padding: 0;
}

nav[role="navigation"] .menu,
#main,
.wrap {
  margin: 0 auto;
  display: block;
  float: none;
}

#page {
  background: #fff;
}

#main, .footer-site{
  max-width: 960px;
  padding: 0 $mobile-page-padding;
  margin: 0 auto;
  clear: both;
  @include box-sizing(border-box);
}
.footer-wcmc{
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  clear: both;
  @include box-sizing(border-box);
}

.wrap {
  @include breakpoint($bp2) {
    width: 960px;
  }
}

/* =============================================================================
   ~Header
   ========================================================================== */

   nav a, header a{
    text-decoration: none;
   }

   .global-search{
      height: 31px;
      width: 100%;
      @include font-size(1.2);
      @include transition(all .5s);
      @include breakpoint($bp1){
        max-width: 250px;
      }
      @include breakpoint($bp2){
        max-width: 290px;
      }
      .lt-ie9 &{
        max-width: 400px;
      }
      span{
        display: block;
        overflow: hidden;
        height: 100%;
        @include box-sizing(border-box);
      }
      select{
        border: 1px solid black;
        width: 45%;
        -webkit-appearance: none;
        border-radius: 0;
        background: #fff url(../images/sprites/downarrow_grey_2x.png) no-repeat 93%;
        .lt-ie9 &{
          background: #fff;
          padding: 5px 4px;
        }
        background-size: 10px 5px;
        padding: 7px 4px;
        margin: 0;
        float: left;
        height: 31px;
        @include font-size(1.5);
        @include breakpoint($bp1 $bp2){@include font-size(1.2);}
        opacity: 1;
        @include transition (all .25s);
        .lt-ie8 &{
          width: 45%;
          height: 26px;
          font-size: 17px;
        }
      }
      .global-search-input{
        border-left: 0;
        padding: 4px 0;
        float: right;
        line-height: 21px;
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-appearance: none;
        @include transition (width .25s);
        @include box-sizing(border-box);
        .lt-ie8 &{
          height: 14px;
          line-height: 1em;
        }
      }
      .search-button{
        // @include box-sizingIEtoo(border-box);
        // @include transition (width .25s ease-in);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 10%;
        height: 31px;
        background-color: #fff;
        @include retina-image('../images/sprites/search', png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 1px solid #000;
        border-left: none;
        padding: 0px;
        float: right;
        min-width: 10px;
        border-radius: 0;
        .lt-ie8 &{
          height: 24px;
          width: 9%;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          font-size: 0;
          border-left: 1px solid;
        }
      }
      .is-collapsed &{
        @include breakpoint($bp2){
          width: 32px;
        }
        .global-search-input{
          @include breakpoint($bp2){
            width: 31px;
            border-left: 1px solid;
            border-right: 1px solid;
            background-image: url("../images/sprites/search.png");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }
          .lt-ie8 &{
            border-left: none;
          }
        }
        select{
          @include breakpoint($bp2){
            width: 0;
            padding: 0;
            background: #fff;
            border: 0;
            opacity: 0;
          }
        }
        .search-button{
          .lt-ie8 &{
            display:none;
          }
          @include breakpoint($bp2){
            display:none;
          }
        }
      }
   }

/* =============================================================================
   ~Content
   ========================================================================== */

  a>img{
    border-radius: 10px;
  }

  figure.hero-image{
    margin: 0 $mobile-page-padding*-1;
    @include breakpoint($bp1){
      margin: 0 auto 1em;
    }
  }
   .hero-image figcaption{
    margin: 1em $mobile-page-padding;
    @include breakpoint($bp1){
      margin: 2.5em 0;
    }
   }

  .social-media{
    h3{
      display: none;
      @include breakpoint($bp1){
        display: block;
      }
      padding: 0;
      margin: 0;
    }
    border-top: 1px solid;
    border-bottom: 1px solid;
    max-width: 250px;
    margin: 0 auto;
    @include breakpoint($bp1){
      padding: 22px 0 0;
      padding: 2.2rem 0 0;
    }
  }
  .social-links{
    padding: 0;
    margin-bottom: 0;
    >li{
      @include inline-block;
      margin-bottom: 2em;
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }
  }
   .wcmc-button{
    border-radius: 5px;
    display: block;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    @include font-size(1.7);
   }

   .icon-button{
    @extend .wcmc-button;
    @include size(50px);
    @include font-size(2.5);
    line-height: 2.25;
   }

   .wcmc-social-button{
    @extend .wcmc-button;
    width: 40px;
    height: 40px;
    line-height: 45px;
    @include font-size (2.5);
    &:hover{
      text-decoration: none;
    }
   }

   //This is not pretty. I'm sorry but the Facebook 'f' is the negative space in symbolset
   //so I needed to add a smaller background element under it.
   .wcmc-social-button-facebook{
    background: none;
    @include font-size(4);
    position: relative;
    top: 8px;
    z-index: 5;
   }
   .facebook-button-background{
    position: absolute;
    height: 38px;
    width: 39px;
    z-index: 1;
    display: block;
    top: 11px;
    border-radius: 5px;
    }
    .facebook-icon-container{
      position: relative;
    }

   .wcmc-call-to-action{
    &:before{
      display: inline-block;
      width: 50px;
      @include font-size(2);
      margin-right: .5em;
      padding-top: .3em;
      vertical-align: middle;
      line-height: 41px;
      @include font-size(3);
      @extend .wcmc-button;
      @include breakpoint($bp2){
        // @include font-size(2.5);
      }
    }
    font-weight: bold;
    text-decoration: none;
    font-size: 0;
    @include breakpoint($bp2){
      @include font-size(1.5);
    }
   }

   .contact-info{
    p{
      @include font-size(1.4);
    }
    span{
      display: block;
      @include breakpoint($bp1 $bp2){
        margin-bottom: .25em;
      }
    }
   }

   .pane-node-field-related-articles{
    ul{
      padding: 0 1em;
    }
    li{
      margin-bottom: .25em;
    }
   }
  .pane-bundle-slideshow{
    margin-bottom: 1.5em;
    a>img{
      margin-bottom: 1em;
    }
    @include font-size(1.4);
    @include breakpoint($bp1){
      @include font-size(1.2);
    }
    p{
      @include font-size(1.2);
      display: inline;
    }
  }

  .slideshow-images {
    position: relative;
  }

  .photo-icon {
    display: none;
    width: 105px;
    height: 46px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    background: url(../images/sprites/overlay.png) 0 0 no-repeat;
    text-indent: -9999px;

  }

  .pane-bundle-video{
    a>img{
      margin: 0 auto;
      display: block;
    }
  }

  .video {
    position: relative;
    margin: 0;
  }

  .video .playhead {
    display: none;
    width: 48px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -24px;
    .lt-ie9 &{background-color: #000;}
    background-color: rgba(0,0,0,.75);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    @include box-sizingIEtoo(border-box);
    padding: 8px 0;
    @include breakpoint($bp1 $bp2){
      margin-top: -10%;
    }
    transition: background-color .25s;
  }
  .video:hover .playhead, .video:focus .playhead{
    .lt-ie9 &{background-color: red;}
    background-color: rgba(255, 0, 0, .75);
  }

  /* Responsive youtube videos */
  .media-youtube-video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }
  .media-youtube-video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .panel-separator{
    margin: 10px;
    margin: 1rem;
  }

  .jump-to-top{
    display: none;
    $jump-circle-size: 80px;
    $jump-circle-border: 5px;
    margin: 2em auto;
    width: $jump-circle-size;
    >a{
      @include transition(opacity .25s);
      display: table-cell;
      vertical-align: middle;
      @include size($jump-circle-size - $jump-circle-border*2);
      border-radius: 70px;
      border: $jump-circle-border solid #d8d2c9;
      text-align: center;
      @include font-size(2);
      font-weight: bold;
      text-decoration: none;
      line-height: .7;
      color: #d8d2c9;
      opacity: .75;
      &:hover{
        text-decoration: none;
        color: #d8d2c9;
        opacity: 1;
      }
    }
  }

/* =============================================================================
   ~View Teasers
   ========================================================================== */

.view-teaser {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d2c9;
}

.view-teaser.views-row-last {
  border-bottom: none;
}

.teaser-title {
  margin-top: 0;
}

.teaser-image img.panopoly-image-quarter {
  max-width: 80%;
  width: 80%;
  height: auto;
  float: none;
  margin: 0;
  @include breakpoint($bp1) {
    max-width: 45%;
    width: 45%;
    height: auto;
    float: right;
    margin-left: .5em;
    margin-bottom: .8em;
    margin-top: .25em;
  }
  @include breakpoint($bp2) {
    max-width: 25%;
    width: 25%;
    height: auto;
    float: right;
    margin-left: .5em;
    margin-bottom: .8em;
    margin-top: .25em;
  }
}

/* =============================================================================
   ~Branding, Footer
   ========================================================================== */

.nyp-logo {
  float: right;
  background-image: url(../images/footer_nyp.gif);
  height: 19px;
  width: 232px;
  text-indent: -9999px;
}

.my-nyp {
  @include font-size(1.1);
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  clear: both;
  margin-top: 10px;
}
.wcmc-logo {
  display: block;
  @include hide-text;
  @include wcmc-logo("white");
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.cornell-copyright {
  @include font-size(1.2);
}

#footer-nav{
  @include font-size(1.4);
  line-height: 2.25;
  font-weight: bold;
  text-transform: uppercase;
  .menu{
    text-align: center;
  }
  .stretchy{
    display: none;
  }
  a{
    text-decoration: none;
  }
  @include breakpoint($bp1){
    // $footer-nav-font-size: 1.1em;
    .stretchy{
      @include inline-block;
    }
    .menu{
      text-align: justify;
      -ms-text-justify: distribute-all-lines;
      text-justify: distribute-all-lines;
      // height: $footer-nav-font-size*2; //This is a filthy hack. I'm sorry. But to distribute the text, the extra .stretchy span adds height I can't get rid of otherwise.
      font-size: 0;
    }
    .level-1{
      display: inline-block;
      *display: inline;
      zoom:1;
      text-align: left;
      @include font-size(1.1);
    }
  }
}

/* =============================================================================
   ~Form Elements
   ========================================================================== */

label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  @include font-size(1.4);
  line-height: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid #000;
  border-radius: 0;
  @include transition((border linear 0.3s));
  display: inline-block;
  @include font-size(1.4);
  padding: .5em;
  @include box-sizing(border-box);
  width: 100%;
  @include breakpoint($bp1){
    max-width: $bp1 - 150; //Kind of a magic number, but should be safe. Can't do much without fill to container CSS
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  @include box-shadow(inset, 0, 1px, 1px, rgba(0, 0, 0, 0.075));
  border-color: #3091D2;
  outline: 0;
}

input[type="submit"] {
  border: none;
  // @include box-shadow(inset, 0, 0px, 1px, #F6F6F6);
  // padding: 8px 12px 9px;
  // text-align: center;
  // text-shadow: 0 1px 0 #333;
  // min-width: 100px;
}

input[type="submit"]:hover {
  // background: #dedadb;
  // border: 1px solid #bbb;
  // color: #333;
  // text-shadow: 0 1px 0 white;
}

// .stretchy{
//   display: none;
//   @include breakpoint($bp1){
//     display: inline-block;
//   }
// }

input[type="text"]+input[type="submit"], .form-item-search-keys + input[type="submit"]{
  width: 100%;
  margin-top: .5em;
  @include breakpoint($bp1){
    width: auto;
    margin-top: auto;
  }
}

/* =============================================================================
   ~Search Results
   ========================================================================== */

.search-results{
  padding: 0;
  .search-snippet{
    line-height: 1.5;
  }
  .search-info{
   @include font-size(1.2);
  }
  .title{
    @include font-size(1.5);
    text-transform: none;
    font-family: Helvetica;
    line-height: 1.2;
  }
  .search-snippet-info{
    padding: 0;
  }
  >li{
    margin-bottom: 2em;
  }
}

#search-results-heading{
  display: none;
}

.google-appliance-results-control-bar{
  @include font-size(1.2);
  border-radius: 0;
}

.google-appliance-synonyms{
  display: none;
}

.form-submit{
  @extend .wcmc-button;
  display: inline-block;
  line-height: 1.2;
  padding: .4em 1em;
}

ul.pager{
  @include font-size(1.2);
  margin-bottom: 1.5em;
}
