.dual-branding{
	text-align: center;
	border-bottom: 1px solid;
	@extend .clearfix;
	&>a{
		display: block;
	    font-family: "franklin-gothic-urw-cond", sans-serif; /*todo*/
	    letter-spacing: .2em;
	    line-height: 2.333;
	    text-transform: uppercase;
	    cursor: pointer;
        @include font-size(1.2);
        @include breakpoint($bp1){
        	letter-spacing: .2em;
        }
		@include breakpoint($bp2) {
			@include hide-text;
			background: inherit;
		}	
	}
	&+.global-search{
		display: none;
		@include breakpoint($bp1){
			display: block;
			float: right;
			clear: both;
			margin: 1.5em 0 0;
		}
		@include breakpoint($bp2) {
			margin-top: 1.75em;
			margin-right: 0;
		}
	}
	&~.site-branding{
		position: static;
		@include breakpoint($bp1 $bp2) {
			margin-top: 0;
			margin-bottom: 0;
		}
		@include breakpoint($bp2) {
			margin: 0;
			padding: 0;
		}
		h1{
			margin-top:.5em;
			margin-left:0;
		}
	}
	.wcmc-emblem, .wcmc-emblem:hover{
		background: none;
		min-height: 0;
		@include breakpoint($bp1){
			text-align: left;
		}
		@include breakpoint($bp2){
			@include wcmc-logo("red");
			@include hide-text;
	    	color: transparent;
	    	background-position: 0 0;
	    	width: 284px;
	    	height: 62px;
	    	float: left;
	    }
	}
	.nyp-brand{
		@include breakpoint($bp1){
			float: right;
		}
		@include breakpoint($bp2){
		    @include nyp-logo;
		}
	}
}

footer{
	.nyp-logo{
		float: none;
		@include breakpoint($bp1) {float: left; margin: 0 1em;}
		@include nyp-logo("white");
	}
}

.wcmc-emblem{
  @include breakpoint($bp1) {
  	float: left;
  	@include font-size(1.3);
  	line-height: 3;
  }
  @include breakpoint($bp1 $bp2){
  	height: 0;
    // @include transition (height .5s ease-in 0s);
    @include transition(height .5s ease-out, color .35s ease-in .10s);
    // @include transition(font-size .5s);
    &.full-logo{
    	@include hide-text;
    	color: transparent;
    	background-position: 0 0;
    	width: 284px;
    	height: 62px;
    }
}
@include breakpoint($bp2){
	@include hide-text;
	float: right;
	@include size($emblem-size);
	@include wcmc-emblem;
	background-position: right;
	padding-left: 10px;
}
}