.footer-nav-link{
  width: 25%;
  float: left;
  text-align: center;
  @include box-sizingIEtoo(border-box);
}
.footer-primary-nav{
  @extend .clearfix;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

footer{
  padding: 1em $mobile-page-padding;
  .wcmc-logo{
    height: 64px;
    width: 284px;
    @include breakpoint($bp1){
        float: left;
    }
  }
  .social-buttons{
    li{
      float: left;
    }
  }
  .department{
    float: left;
    margin: 1em 0;
    display: none;

    @include breakpoint($bp1){
      display: block;
      width: 100%;
    }
    @include breakpoint($bp2){
      width: 50%;
    }
  }
  .contact{
    display: none;
    margin: 1em 0;
    @include breakpoint($bp1){
      display: block;
    }
    @include breakpoint($bp2){
      width: 50%;
      float: right;
    }
  }
  .footer-site{
    @extend .clearfix;
    @include breakpoint($bp1){
      margin-bottom: .6em;
    }
    .map-link{
      float: left;
      margin-right: .5em;
    }
  }
  .footer-wcmc{
    padding-top: 1em;
    @extend .clearfix;
  }

  .site-name{
    @include font-size(1.5);
    @include breakpoint($bp1){
      @include font-size(2);
    }
  }
  .location{
    margin-top: 1em;
    @include font-size(1.4);
    line-height: 1.8;
  }
  .contact{
    @include breakpoint ($bp2){
      float: right;
      text-align: right;
    }
  }
  .disclaimer{
    @include font-size(1.4);
    line-height: 1.4;
    @include breakpoint ($bp1){
    max-width: 45%;
    float: right;
    margin-top: 30px;
    text-align: right;
    @include font-size(1.1);
  }
  }
}
