//Styles for the Weill Cornell Heading area- Emblem, Global Search, Weill Cornell Connect
header {
	@include box-sizing(border-box);
	>.wrap{
		@extend .clearfix;
	}
	@include breakpoint($bp1){
		border: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	@include breakpoint($bp2){
		padding: 1em;
	}
}

.wcmc-branding{
	position: relative;
	text-align: center;
	border-bottom: 1px solid;
	@extend .clearfix;
	@include breakpoint($bp1){
		border: 0;
		text-align: left;
		margin: 5px 0;
		@include font-size(1.25);
		min-height: 40px;
	}
	@include breakpoint($bp2){
		float: right;
		width: 100%;
		margin: 0;
	}
	.lt-ie9 &{
		width: 400px;
	}
}

//If the Weill Cornell Connect emblem is visible, change layout slightly:
.wcc .wcmc-emblem{
	margin-left: -35px;
	letter-spacing: .15em;
	@include breakpoint($bp1){
		margin-left: 0;
	}
}


.wcmc-emblem{
	display: block;
  font-family: "franklin-gothic-urw-cond", sans-serif; /*todo*/
  letter-spacing: .2em;
  line-height: 3.333;
  @include font-size(1.2);
  cursor: pointer;
  text-transform: uppercase;
  @include breakpoint($bp1) {
  	float: left;
  	@include font-size(1.3);
  	line-height: 3;
  }
  @include breakpoint($bp1 $bp2){
  	height: 0;
    // @include transition (height .5s ease-in 0s);
    @include transition(height .5s ease-out, color .35s ease-in .10s);
    // @include transition(font-size .5s);
    &.full-logo{
    	@include hide-text;
    	color: transparent;
    	background-position: 0 0;
    	width: 284px;
    	height: 62px;
    }
}
@include breakpoint($bp2){
	@include hide-text;
	float: right;
	@include size($emblem-size);
	@include wcmc-emblem;
	background-position: right;
	padding-left: 10px;
}
}
.weill-cornell-connect{
	float: right;
	@include retina-image('../images/wcc_icon', 25px 25px, png);
	width: 40px;
	height: 39px;
	background-repeat: no-repeat;
	background-position: center;
	font: 0/0 a;
	color: transparent;
	overflow: hidden;
	border-left: 1px solid;
	@include breakpoint($bp1){
		padding: 2px;
		width: 25px;
		height: 25px;
		border: 1px solid;
	}
	@include breakpoint($bp2){
		@include retina-image('../images/sprites/wcc_full_logo', 160px 25px, png);
		width: 160px;
		padding: 0;
		border: 0px;
		@include transition (all .5s);
	}
	.is-collapsed &{
		@include breakpoint($bp2){
			@include retina-image('../images/wcc_icon', 25px 25px, png);
			width: 31px;
			border: 1px solid black;
		}
	}
}

.wcmc-etc{
	float: right;
	width: 50%;
	@include breakpoint($bp1){
		width: 100%;
	}
	@include breakpoint($bp2){
		float: none;
		width: auto;
	}
}
.wcmc-links-expander{
	display: none;
	@include breakpoint($bp2){
		float: right;
		display: block;
		width: 16px;
		height: $emblem-size;
		cursor: pointer;

	}
}
.wcmc-links{
	display: none;
	position: absolute;
	border: 1px solid;
	z-index: 100;
	padding: .5em 1em;
	list-style: none;
	margin: 0;
	left: $mobile-page-padding;
	white-space: nowrap;
	text-align: left;
	@include breakpoint($bp1){
		position: static;
		border: none;
		max-width: 60%;
		@include clearfix;
	}
	@include breakpoint($bp2){
		display: block;
		position: static;
		background: transparent;
		padding: 0;
		width: 0;
		height: $emblem-size;
		float: right;
		@include font-size(1.4);
		line-height: 1.2;
		overflow: hidden;
		@include transition(width .5s);
		&.is-expanded{
			width: 155px;
		}
	}
}


.global-functions-container{
	position: absolute;
	right: 0;
	top: 0;
	@include breakpoint($bp1){
		width: 52%;
	    .wcmc-links.is-expanded + .wcmc-links-expander + &{
	    	clear: both;
	    	float: none;
	    }
	}
	@include breakpoint($bp1 $bp2){
		bottom: .5em;
		top: auto;
	}
	@include breakpoint($bp2){
		margin-right: 8px;
		float: right;
		position: relative;
		.wcmc-links.is-expanded + .wcmc-links-expander + &{
			clear: none;
			float: right;
		}
	}
}

.wcmc-primary-nav-item{
	@include font-size(1.5);
	padding: 10px 0;
	display: block;
	&:after{
		@include transition(all .5s);
		content: '';
		display: block;
		border-bottom: 1px solid;
		opacity: 1;
		width: 18px;
		position: relative;
		top: 10px;
	}
	&:last-child:after{
		border-bottom: none;
	}
	@include breakpoint($bp1){
		margin-right: 2em;
		@include font-size(1.3);
	    float: left;
	    &:after{
	    	display: none;
	    }
	}
	@include breakpoint($bp2){
		float: none;
		padding: 0;
		line-height: 1.5;
		margin: 0 10px;
	}
}

.global-search{
	.global-functions-container &{
		float: right;
		display: none;
		@include breakpoint($bp1){
			@include inline-block;
			margin-right: 5px;
		}
		@include breakpoint($bp2){
			clear: both;
			margin: 0;
			margin-top: 70px;
		}
	}
}



.weill-cornell-connect + .global-search{
  @include breakpoint($bp2){
    position: absolute;
    right: 0;
    width: 290px;
  }
  .lt-ie8 &{
    margin-top: 50px;
  }
}
