/**
 *
 * WCMC Layout
 *
 */

// @import "base";

.menu{
  margin: 0;
  padding: 0;
}
nav[role="navigation"] .menu,
#main,
.wrap {
  margin: 0 auto;
  display: block;
  float: none;
}

#page {
  background: #fff;
}



#main {
  clear: both;
  min-height: 400px;
}

footer {
  clear: both;
}






/* =============================================================================
   ~Content
   ========================================================================== */

#main, .footer-site, .footer-wcmc{
  max-width: 960px;
  padding: 0 $mobile-page-padding;
  margin: 0 auto;
  @include box-sizing(border-box);
}

