@charset "UTF-8";
/**
 * These styles are built mobile first, so that changes in mobile cascade
 * up to tablet and desktop sizes. The only ones that are targeted to specific sizes are
 * breakpoints that have two sizes. These apply only to a range.
 For example: @include breakpoint($bp1){...} will apply those styles when width is $bp1 or greater
 @include breakpoint($bp1, $bp2){...} will apply those styles only between the two widths specified.
 The latter is generally only used when mid-sized devices have a style that's not easy to reset.
 *
 * Styles are loosely organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * Be sure to turn on minification in Sass to consolidate the CSS so no one works on the 
 * actual CSS files themselves (hopefully they'll realize it's ugly code for a reason)
 */
/* =============================================================================
   ~Sass Mixins
   ========================================================================== */
/*A variety of these are pulled from Bourbon so that it isn't a dependency*/
/* =============================================================================
   ~Useful classes
   ========================================================================== */
.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.stretchy {
  width: 100%;
  font-size: 0px; }

.float-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  float: left; }

.clearfix, header > .wrap, .wcmc-branding, .dual-branding, .menu, #primary-nav, .footer-primary-nav, footer .footer-site, footer .footer-wcmc {
  *zoom: 1; }
  .clearfix:before, header > .wrap:before, .wcmc-branding:before, .dual-branding:before, .menu:before, #primary-nav:before, .footer-primary-nav:before, footer .footer-site:before, footer .footer-wcmc:before, .clearfix:after, header > .wrap:after, .wcmc-branding:after, .dual-branding:after, .menu:after, #primary-nav:after, .footer-primary-nav:after, footer .footer-site:after, footer .footer-wcmc:after {
    content: "";
    display: table; }
  .clearfix:after, header > .wrap:after, .wcmc-branding:after, .dual-branding:after, .menu:after, #primary-nav:after, .footer-primary-nav:after, footer .footer-site:after, footer .footer-wcmc:after {
    clear: both; }

/**
 *
 * Base elements styles
 *
 */
/* =============================================================================
   ~Utilities
   ========================================================================== */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 Type for easier math */ }

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

p:first-child {
  margin-top: 0; }

.ie8 img {
  width: inherit; }

.main-content p a[href^="http"]:after {
  font-family: "SSStandard";
  content: '↪';
  font-size: 75%;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  display: inline-block;
  text-decoration: none;
  -ms-font-feature-settings: "liga" 1; }

#related-content-sidebar p a[href^="http"]:after, #related-content-inline p a[href^="http"]:after {
  display: none; }

/* =============================================================================
   ~Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 700; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Adelle", serif;
  /*todo*/
  padding-bottom: .25em;
  line-height: 1.25; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 .75em;
  font-size: 18px;
  font-size: 1.8rem; }
  .lt-ie9 h3 {
    font-size: 14px;
    font-size: 1.4rem; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 14px;
      font-size: 1.4rem; } }

a {
  color: #607890;
  text-decoration: none;
  transition: color .25s; }

a:hover {
  color: #333; }

body {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.41;
  padding: 0; }
  .lt-ie9 body {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.333; }
  @media screen and (min-width: 600px) {
    body {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.333; } }

figcaption {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.25; }
  .lt-ie9 figcaption {
    font-size: 12px;
    font-size: 1.2rem; }
  @media screen and (min-width: 600px) {
    figcaption {
      font-size: 12px;
      font-size: 1.2rem; } }

/* Import Sass mixins, variables */
header {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .lt-ie9 header {
    border: none;
    padding-left: 10px;
    padding-right: 10px; }
  @media screen and (min-width: 600px) {
    header {
      border: none;
      padding-left: 10px;
      padding-right: 10px; } }
  .lt-ie9 header {
    padding: 1em; }
  @media screen and (min-width: 985px) {
    header {
      padding: 1em; } }

.wcmc-branding {
  position: relative;
  text-align: center;
  border-bottom: 1px solid; }
  .lt-ie9 .wcmc-branding {
    border: 0;
    text-align: left;
    margin: 5px 0;
    font-size: 12.5px;
    font-size: 1.25rem;
    min-height: 40px; }
  @media screen and (min-width: 600px) {
    .wcmc-branding {
      border: 0;
      text-align: left;
      margin: 5px 0;
      font-size: 12.5px;
      font-size: 1.25rem;
      min-height: 40px; } }
  .lt-ie9 .wcmc-branding {
    float: right;
    width: 100%;
    margin: 0; }
  @media screen and (min-width: 985px) {
    .wcmc-branding {
      float: right;
      width: 100%;
      margin: 0; } }
  .lt-ie9 .wcmc-branding {
    width: 400px; }

.wcc .wcmc-emblem {
  margin-left: -35px;
  letter-spacing: .15em; }
  .lt-ie9 .wcc .wcmc-emblem {
    margin-left: 0; }
  @media screen and (min-width: 600px) {
    .wcc .wcmc-emblem {
      margin-left: 0; } }

.wcmc-emblem {
  display: block;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  /*todo*/
  letter-spacing: .2em;
  line-height: 3.333;
  font-size: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase; }
  .lt-ie9 .wcmc-emblem {
    float: left;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 3; }
  @media screen and (min-width: 600px) {
    .wcmc-emblem {
      float: left;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 3; } }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .wcmc-emblem {
      height: 0;
      -webkit-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
      -moz-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
      -ms-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
      -o-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
      transition: height 0.5s ease-out, color 0.35s ease-in 0.1s; }
      .wcmc-emblem.full-logo {
        color: transparent;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background-position: 0 0;
        width: 284px;
        height: 62px; } }
  .lt-ie9 .wcmc-emblem {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    float: right;
    width: 100px;
    height: 100px;
    background-image: url("../images/WCMC-EMBLEM_web_black.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .wcmc-emblem {
        background-image: url("../images/WCMC-EMBLEM_web_black_2x.png"); } }
  @media screen and (min-width: 985px) {
    .wcmc-emblem {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      float: right;
      width: 100px;
      height: 100px;
      background-image: url("../images/WCMC-EMBLEM_web_black.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-position: right;
      padding-left: 10px; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem {
      background-image: url("../images/WCMC-EMBLEM_web_black_2x.png"); } }

.weill-cornell-connect {
  float: right;
  background-image: url("../images/wcc_icon.png");
  background-size: 25px 25px;
  width: 40px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  border-left: 1px solid; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .weill-cornell-connect {
      background-image: url("../images/wcc_icon_2x.png"); } }
  .lt-ie9 .weill-cornell-connect {
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid; }
  @media screen and (min-width: 600px) {
    .weill-cornell-connect {
      padding: 2px;
      width: 25px;
      height: 25px;
      border: 1px solid; } }
  .lt-ie9 .weill-cornell-connect {
    background-image: url("../images/sprites/wcc_full_logo.png");
    background-size: 160px 25px;
    width: 160px;
    padding: 0;
    border: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .weill-cornell-connect {
        background-image: url("../images/sprites/wcc_full_logo_2x.png"); } }
  @media screen and (min-width: 985px) {
    .weill-cornell-connect {
      background-image: url("../images/sprites/wcc_full_logo.png");
      background-size: 160px 25px;
      width: 160px;
      padding: 0;
      border: 0px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .weill-cornell-connect {
      background-image: url("../images/sprites/wcc_full_logo_2x.png"); } }

  .lt-ie9 .is-collapsed .weill-cornell-connect {
    background-image: url("../images/wcc_icon.png");
    background-size: 25px 25px;
    width: 31px;
    border: 1px solid black; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .is-collapsed .weill-cornell-connect {
        background-image: url("../images/wcc_icon_2x.png"); } }
  @media screen and (min-width: 985px) {
    .is-collapsed .weill-cornell-connect {
      background-image: url("../images/wcc_icon.png");
      background-size: 25px 25px;
      width: 31px;
      border: 1px solid black; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .is-collapsed .weill-cornell-connect {
      background-image: url("../images/wcc_icon_2x.png"); } }

.wcmc-etc {
  float: right;
  width: 50%; }
  .lt-ie9 .wcmc-etc {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .wcmc-etc {
      width: 100%; } }
  .lt-ie9 .wcmc-etc {
    float: none;
    width: auto; }
  @media screen and (min-width: 985px) {
    .wcmc-etc {
      float: none;
      width: auto; } }

.wcmc-links-expander {
  display: none; }
  .lt-ie9 .wcmc-links-expander {
    float: right;
    display: block;
    width: 16px;
    height: 100px;
    cursor: pointer; }
  @media screen and (min-width: 985px) {
    .wcmc-links-expander {
      float: right;
      display: block;
      width: 16px;
      height: 100px;
      cursor: pointer; } }

.wcmc-links {
  display: none;
  position: absolute;
  border: 1px solid;
  z-index: 100;
  padding: .5em 1em;
  list-style: none;
  margin: 0;
  left: 10px;
  white-space: nowrap;
  text-align: left; }
  .lt-ie9 .wcmc-links {
    position: static;
    border: none;
    max-width: 60%;
    *zoom: 1; }
    .lt-ie9 .wcmc-links:before, .lt-ie9 .wcmc-links:after {
      content: "";
      display: table; }
    .lt-ie9 .wcmc-links:after {
      clear: both; }
  @media screen and (min-width: 600px) {
    .wcmc-links {
      position: static;
      border: none;
      max-width: 60%;
      *zoom: 1; }
      .wcmc-links:before, .wcmc-links:after {
        content: "";
        display: table; }
      .wcmc-links:after {
        clear: both; } }
  .lt-ie9 .wcmc-links {
    display: block;
    position: static;
    background: transparent;
    padding: 0;
    width: 0;
    height: 100px;
    float: right;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.2;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s; }
    .lt-ie9 .wcmc-links.is-expanded {
      width: 155px; }
  @media screen and (min-width: 985px) {
    .wcmc-links {
      display: block;
      position: static;
      background: transparent;
      padding: 0;
      width: 0;
      height: 100px;
      float: right;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 1.2;
      overflow: hidden;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s;
      -ms-transition: width 0.5s;
      -o-transition: width 0.5s;
      transition: width 0.5s; }
      .wcmc-links.is-expanded {
        width: 155px; } }

.global-functions-container {
  position: absolute;
  right: 0;
  top: 0; }
  .lt-ie9 .global-functions-container {
    width: 52%; }
    .wcmc-links.is-expanded + .wcmc-links-expander + .lt-ie9 .global-functions-container {
      clear: both;
      float: none; }
  @media screen and (min-width: 600px) {
    .global-functions-container {
      width: 52%; }
      .wcmc-links.is-expanded + .wcmc-links-expander + .global-functions-container {
        clear: both;
        float: none; } }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .global-functions-container {
      bottom: .5em;
      top: auto; } }
  .lt-ie9 .global-functions-container {
    margin-right: 8px;
    float: right;
    position: relative; }
    .wcmc-links.is-expanded + .wcmc-links-expander + .lt-ie9 .global-functions-container {
      clear: none;
      float: right; }
  @media screen and (min-width: 985px) {
    .global-functions-container {
      margin-right: 8px;
      float: right;
      position: relative; }
      .wcmc-links.is-expanded + .wcmc-links-expander + .global-functions-container {
        clear: none;
        float: right; } }

.wcmc-primary-nav-item {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 10px 0;
  display: block; }
  .wcmc-primary-nav-item:after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    content: '';
    display: block;
    border-bottom: 1px solid;
    opacity: 1;
    width: 18px;
    position: relative;
    top: 10px; }
  .wcmc-primary-nav-item:last-child:after {
    border-bottom: none; }
  .lt-ie9 .wcmc-primary-nav-item {
    margin-right: 2em;
    font-size: 13px;
    font-size: 1.3rem;
    float: left; }
    .lt-ie9 .wcmc-primary-nav-item:after {
      display: none; }
  @media screen and (min-width: 600px) {
    .wcmc-primary-nav-item {
      margin-right: 2em;
      font-size: 13px;
      font-size: 1.3rem;
      float: left; }
      .wcmc-primary-nav-item:after {
        display: none; } }
  .lt-ie9 .wcmc-primary-nav-item {
    float: none;
    padding: 0;
    line-height: 1.5;
    margin: 0 10px; }
  @media screen and (min-width: 985px) {
    .wcmc-primary-nav-item {
      float: none;
      padding: 0;
      line-height: 1.5;
      margin: 0 10px; } }

.global-functions-container .global-search {
  float: right;
  display: none; }
  .lt-ie9 .global-functions-container .global-search {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 5px; }
  @media screen and (min-width: 600px) {
    .global-functions-container .global-search {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin-right: 5px; } }
  .lt-ie9 .global-functions-container .global-search {
    clear: both;
    margin: 0;
    margin-top: 70px; }
  @media screen and (min-width: 985px) {
    .global-functions-container .global-search {
      clear: both;
      margin: 0;
      margin-top: 70px; } }

.lt-ie9 .weill-cornell-connect + .global-search {
  position: absolute;
  right: 0;
  width: 290px; }
@media screen and (min-width: 985px) {
  .weill-cornell-connect + .global-search {
    position: absolute;
    right: 0;
    width: 290px; } }
.lt-ie8 .weill-cornell-connect + .global-search {
  margin-top: 50px; }

.dual-branding {
  text-align: center;
  border-bottom: 1px solid; }
  .dual-branding > a {
    display: block;
    font-family: "franklin-gothic-urw-cond", sans-serif;
    /*todo*/
    letter-spacing: .2em;
    line-height: 2.333;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    font-size: 1.2rem; }
    .lt-ie9 .dual-branding > a {
      letter-spacing: .2em; }
    @media screen and (min-width: 600px) {
      .dual-branding > a {
        letter-spacing: .2em; } }
    .lt-ie9 .dual-branding > a {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background: inherit; }
    @media screen and (min-width: 985px) {
      .dual-branding > a {
        color: transparent;
        font: 0/0 a;
        text-shadow: none;
        background: inherit; } }
  .dual-branding + .global-search {
    display: none; }
    .lt-ie9 .dual-branding + .global-search {
      display: block;
      float: right;
      clear: both;
      margin: 1.5em 0 0; }
    @media screen and (min-width: 600px) {
      .dual-branding + .global-search {
        display: block;
        float: right;
        clear: both;
        margin: 1.5em 0 0; } }
    .lt-ie9 .dual-branding + .global-search {
      margin-top: 1.75em;
      margin-right: 0; }
    @media screen and (min-width: 985px) {
      .dual-branding + .global-search {
        margin-top: 1.75em;
        margin-right: 0; } }
  .dual-branding ~ .site-branding {
    position: static; }
    @media screen and (min-width: 600px) and (max-width: 984px) {
      .dual-branding ~ .site-branding {
        margin-top: 0;
        margin-bottom: 0; } }
    .lt-ie9 .dual-branding ~ .site-branding {
      margin: 0;
      padding: 0; }
    @media screen and (min-width: 985px) {
      .dual-branding ~ .site-branding {
        margin: 0;
        padding: 0; } }
    .dual-branding ~ .site-branding h1 {
      margin-top: .5em;
      margin-left: 0; }
  .dual-branding .wcmc-emblem, .dual-branding .wcmc-emblem:hover {
    background: none;
    min-height: 0; }
    .lt-ie9 .dual-branding .wcmc-emblem, .lt-ie9 .dual-branding .wcmc-emblem:hover {
      text-align: left; }
    @media screen and (min-width: 600px) {
      .dual-branding .wcmc-emblem, .dual-branding .wcmc-emblem:hover {
        text-align: left; } }
    .lt-ie9 .dual-branding .wcmc-emblem, .lt-ie9 .dual-branding .wcmc-emblem:hover {
      background-image: url("../images/WCMC_web_red.png");
      background-size: 284px 62px;
      background-repeat: no-repeat;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-position: 0 0;
      width: 284px;
      height: 62px;
      float: left; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .lt-ie9 .dual-branding .wcmc-emblem, .lt-ie9 .dual-branding .wcmc-emblem:hover {
          background-image: url("../images/WCMC_web_red_2x.png"); } }
    @media screen and (min-width: 985px) {
      .dual-branding .wcmc-emblem, .dual-branding .wcmc-emblem:hover {
        background-image: url("../images/WCMC_web_red.png");
        background-size: 284px 62px;
        background-repeat: no-repeat;
        color: transparent;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background-position: 0 0;
        width: 284px;
        height: 62px;
        float: left; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .dual-branding .wcmc-emblem, .dual-branding .wcmc-emblem:hover {
      background-image: url("../images/WCMC_web_red_2x.png"); } }

  .lt-ie9 .dual-branding .nyp-brand {
    float: right; }
  @media screen and (min-width: 600px) {
    .dual-branding .nyp-brand {
      float: right; } }
  .lt-ie9 .dual-branding .nyp-brand {
    background-image: url("../images/NYP_logo_red.png");
    background-size: 270px;
    background-position: 50%;
    background-repeat: no-repeat;
    min-width: 270px;
    min-height: 64px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .dual-branding .nyp-brand {
        background-image: url("../images/NYP_logo_red_2x.png"); } }
  @media screen and (min-width: 985px) {
    .dual-branding .nyp-brand {
      background-image: url("../images/NYP_logo_red.png");
      background-size: 270px;
      background-position: 50%;
      background-repeat: no-repeat;
      min-width: 270px;
      min-height: 64px; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .dual-branding .nyp-brand {
      background-image: url("../images/NYP_logo_red_2x.png"); } }

footer .nyp-logo {
  float: none;
  background-image: url("../images/NYP_logo_white.png");
  background-size: 270px;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 270px;
  min-height: 64px; }
  .lt-ie9 footer .nyp-logo {
    float: left;
    margin: 0 1em; }
  @media screen and (min-width: 600px) {
    footer .nyp-logo {
      float: left;
      margin: 0 1em; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    footer .nyp-logo {
      background-image: url("../images/NYP_logo_white_2x.png"); } }

.lt-ie9 .wcmc-emblem {
  float: left;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 3; }
@media screen and (min-width: 600px) {
  .wcmc-emblem {
    float: left;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 3; } }
@media screen and (min-width: 600px) and (max-width: 984px) {
  .wcmc-emblem {
    height: 0;
    -webkit-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
    -moz-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
    -ms-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
    -o-transition: height 0.5s ease-out, color 0.35s ease-in 0.1s;
    transition: height 0.5s ease-out, color 0.35s ease-in 0.1s; }
    .wcmc-emblem.full-logo {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-position: 0 0;
      width: 284px;
      height: 62px; } }
.lt-ie9 .wcmc-emblem {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  float: right;
  width: 100px;
  height: 100px;
  background-image: url("../images/WCMC-EMBLEM_web_black.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 10px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .lt-ie9 .wcmc-emblem {
      background-image: url("../images/WCMC-EMBLEM_web_black_2x.png"); } }
@media screen and (min-width: 985px) {
  .wcmc-emblem {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    float: right;
    width: 100px;
    height: 100px;
    background-image: url("../images/WCMC-EMBLEM_web_black.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem {
      background-image: url("../images/WCMC-EMBLEM_web_black_2x.png"); } }

/*Navigation menus

/* =============================================================================
   Site Brand
   ========================================================================== */
.site-branding {
  position: relative;
  margin: 0 0 0 10px; }
  .site-branding h1 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "franklin-gothic-urw", Helvetica, sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    width: 80%;
    padding: 0; }
    .site-branding h1 > a:hover {
      text-decoration: none; }
    .lt-ie9 .site-branding h1 {
      font-size: 28px;
      font-size: 2.8rem;
      width: auto; }
    @media screen and (min-width: 600px) {
      .site-branding h1 {
        font-size: 28px;
        font-size: 2.8rem;
        width: auto; } }
    .site-branding h1 .affiliation {
      font-size: .75em;
      display: none;
      text-align: left;
      text-transform: none; }
      .lt-ie9 .site-branding h1 .affiliation {
        display: block;
        line-height: 1; }
      @media screen and (min-width: 985px) {
        .site-branding h1 .affiliation {
          display: block;
          line-height: 1; } }
    .lt-ie9 .site-branding h1 {
      margin: 0; }
    @media screen and (min-width: 985px) {
      .site-branding h1 {
        margin: 0; } }
  .lt-ie9 .site-branding {
    margin: 0; }
  @media screen and (min-width: 600px) {
    .site-branding {
      margin: 0; } }
  .lt-ie9 .site-branding {
    padding: 1em 0;
    padding: 1rem 0;
    position: absolute; }
  @media screen and (min-width: 985px) {
    .site-branding {
      padding: 1em 0;
      padding: 1rem 0;
      position: absolute; } }

.menu-button {
  font-size: 25px;
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  left: .5em;
  line-height: 1;
  margin-top: .25em;
  padding: .25em .25em .5em;
  cursor: pointer;
  -webkit-transition: all 0.25s 0s;
  -moz-transition: all 0.25s 0s;
  -ms-transition: all 0.25s 0s;
  -o-transition: all 0.25s 0s;
  transition: all 0.25s 0s; }
  .lt-ie9 .menu-button {
    display: none; }
  @media screen and (min-width: 600px) {
    .menu-button {
      display: none; } }
  .menu-button.is-expanded {
    -webkit-transition: all 0.5s 0.25s;
    -moz-transition: all 0.5s 0.25s;
    -ms-transition: all 0.5s 0.25s;
    -o-transition: all 0.5s 0.25s;
    transition: all 0.5s 0.25s; }

#top-nav {
  padding: 1em;
  padding: 1rem;
  display: none;
  clear: both;
  line-height: 40px; }
  .lt-ie9 #top-nav {
    display: block;
    padding: 0; }
  @media screen and (min-width: 600px) {
    #top-nav {
      display: block;
      padding: 0; } }
  .no-js #top-nav {
    display: block; }

#top-nav .global-search {
  margin: 1em auto; }
  #top-nav .global-search .global-search-input {
    min-width: 50%; }
  #top-nav .global-search .search-button {
    width: 15%; }
  #top-nav .global-search select {
    width: 35%;
    max-width: 100px; }
  .lt-ie9 #top-nav .global-search {
    display: none; }
  @media screen and (min-width: 600px) {
    #top-nav .global-search {
      display: none; } }

#primary-nav {
  display: none;
  font-size: 18px;
  font-size: 1.8rem; }
  #primary-nav .menu {
    max-width: 985px; }
  .lt-ie9 #primary-nav {
    display: block;
    float: none;
    border-bottom: 1px solid; }
    .lt-ie9 #primary-nav .level-1 {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0 1em;
      text-align: center;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      *behavior: url(/profiles/wcmc/themes/wcmc_base/css/boxsizing.htc);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
      .lt-ie9 #primary-nav .level-1:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        width: 0;
        height: 0;
        content: ' ';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 5%; }
      .lt-ie9 #primary-nav .level-1 > .active-trail {
        background: transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
    .lt-ie9 #primary-nav .expand-menu {
      display: none; }
  @media screen and (min-width: 600px) {
    #primary-nav {
      display: block;
      float: none;
      border-bottom: 1px solid; }
      #primary-nav .level-1 {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0 1em;
        text-align: center;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(/profiles/wcmc/themes/wcmc_base/css/boxsizing.htc);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative; }
        #primary-nav .level-1:after {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          width: 0;
          height: 0;
          content: ' ';
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid transparent;
          position: absolute;
          bottom: -10px;
          left: 5%; }
        #primary-nav .level-1 > .active-trail {
          background: transparent;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
      #primary-nav .expand-menu {
        display: none; } }

#drawer-nav {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-size: 1.2rem; }
  #drawer-nav .menu {
    max-width: 960px; }
  #drawer-nav li {
    margin: 0;
    padding: 10px 0; }
    .lt-ie9 #drawer-nav li {
      margin: 0 0 10px;
      padding: 0; }
    @media screen and (min-width: 600px) {
      #drawer-nav li {
        margin: 0 0 10px;
        padding: 0; } }
  .lt-ie9 #drawer-nav {
    clear: both;
    margin: 0;
    font-size: 20px;
    font-size: 2rem; }
    .lt-ie9 #drawer-nav .menu {
      padding: 0 10px; }
    .lt-ie9 #drawer-nav .expand-menu {
      display: none; }
  @media screen and (min-width: 600px) {
    #drawer-nav {
      clear: both;
      margin: 0;
      font-size: 20px;
      font-size: 2rem; }
      #drawer-nav .menu {
        padding: 0 10px; }
      #drawer-nav .expand-menu {
        display: none; } }
  #drawer-nav .level-1 {
    display: block;
    font-size: 1.5em;
    border-bottom: 1px solid;
    width: 100%;
    clear: both; }
    #drawer-nav .level-1.last {
      border: none;
      padding-bottom: 0; }
    #drawer-nav .level-1 > .menu {
      display: none;
      padding-left: 2.5em;
      margin: 0 -10px; }
      .no-js #drawer-nav .level-1 > .menu {
        display: block; }
    .lt-ie9 #drawer-nav .level-1 {
      *zoom: 1;
      display: none;
      border-bottom: none;
      padding-top: .25em; }
      .lt-ie9 #drawer-nav .level-1:before, .lt-ie9 #drawer-nav .level-1:after {
        content: "";
        display: table; }
      .lt-ie9 #drawer-nav .level-1:after {
        clear: both; }
      .lt-ie9 #drawer-nav .level-1 > .menu {
        display: block;
        border-top: 1px solid;
        padding-left: 10px;
        padding-top: .5em;
        margin: .3em 0 0;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    @media screen and (min-width: 600px) {
      #drawer-nav .level-1 {
        *zoom: 1;
        display: none;
        border-bottom: none;
        padding-top: .25em; }
        #drawer-nav .level-1:before, #drawer-nav .level-1:after {
          content: "";
          display: table; }
        #drawer-nav .level-1:after {
          clear: both; }
        #drawer-nav .level-1 > .menu {
          display: block;
          border-top: 1px solid;
          padding-left: 10px;
          padding-top: .5em;
          margin: .3em 0 0;
          width: 100%;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  #drawer-nav .level-2 {
    margin-left: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5; }
    .lt-ie9 #drawer-nav .level-2 {
      font-size: 18px;
      font-size: 1.8rem;
      margin: 0;
      padding-bottom: 10px; }
    @media screen and (min-width: 600px) {
      #drawer-nav .level-2 {
        font-size: 18px;
        font-size: 1.8rem;
        margin: 0;
        padding-bottom: 10px; } }
    #drawer-nav .level-2 > .menu {
      display: none; }
      .lt-ie9 #drawer-nav .level-2 > .menu {
        display: block;
        margin-top: .25em; }
      @media screen and (min-width: 600px) {
        #drawer-nav .level-2 > .menu {
          display: block;
          margin-top: .25em; } }
  .lt-ie9 #drawer-nav .level-3 {
    list-style-type: disc;
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 1em;
    font-weight: 100; }
  @media screen and (min-width: 600px) {
    #drawer-nav .level-3 {
      list-style-type: disc;
      font-size: 14px;
      font-size: 1.4rem;
      margin-left: 1em;
      font-weight: 100; } }

#active-second-level-nav {
  display: none; }
  .lt-ie9 #active-second-level-nav {
    font-size: 14px;
    font-size: 1.4rem;
    display: block;
    text-align: center; }
    .lt-ie9 #active-second-level-nav .level-2:after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      content: '';
      width: 0;
      display: block;
      margin: 0 auto;
      border-bottom: 1px solid;
      opacity: 0; }
    .lt-ie9 #active-second-level-nav .last:after {
      border-bottom: none; }
    .lt-ie9 #active-second-level-nav .is-expanded .level-2:after {
      opacity: 1;
      width: 30px; }
    .lt-ie9 #active-second-level-nav .active-trail > a {
      background-position-x: 100%;
      padding: 0 25px;
      background-position-y: middle; }
    .lt-ie9 #active-second-level-nav .level-2 {
      display: none;
      text-align: center;
      margin: 0; }
      .no-js .lt-ie9 #active-second-level-nav .level-2 {
        display: list-item; }
      .lt-ie9 #active-second-level-nav .level-2.active, .lt-ie9 #active-second-level-nav .level-2.active-trail {
        display: list-item; }
  @media screen and (min-width: 600px) {
    #active-second-level-nav {
      font-size: 14px;
      font-size: 1.4rem;
      display: block;
      text-align: center; }
      #active-second-level-nav .level-2:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        content: '';
        width: 0;
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid;
        opacity: 0; }
      #active-second-level-nav .last:after {
        border-bottom: none; }
      #active-second-level-nav .is-expanded .level-2:after {
        opacity: 1;
        width: 30px; }
      #active-second-level-nav .active-trail > a {
        background-position-x: 100%;
        padding: 0 25px;
        background-position-y: middle; }
      #active-second-level-nav .level-2 {
        display: none;
        text-align: center;
        margin: 0; }
        .no-js #active-second-level-nav .level-2 {
          display: list-item; }
        #active-second-level-nav .level-2.active, #active-second-level-nav .level-2.active-trail {
          display: list-item; } }

#active-third-level-nav {
  display: none;
  border-bottom: 1px solid;
  max-width: 960px; }
  .lt-ie9 #active-third-level-nav {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-size: 1.4rem; }
    .lt-ie9 #active-third-level-nav .menu {
      text-align: justify;
      -ms-text-justify: distribute-all-lines;
      max-width: 940px;
      line-height: normal;
      font-size: 0; }
    .lt-ie9 #active-third-level-nav .level-3 {
      font-size: 15px;
      font-size: 1.5rem;
      display: inline-block;
      *display: inline;
      zoom: 1;
      position: relative;
      top: .75em;
      margin: 0 1em 1.5em; }
    .lt-ie9 #active-third-level-nav .level-3.active-trail:before {
      width: 0;
      height: 0;
      content: ' ';
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      display: block;
      position: absolute;
      left: 50%;
      top: -.75em;
      margin-left: -13px; }
  @media screen and (min-width: 600px) {
    #active-third-level-nav {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      font-size: 1.4rem; }
      #active-third-level-nav .menu {
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        max-width: 940px;
        line-height: normal;
        font-size: 0; }
      #active-third-level-nav .level-3 {
        font-size: 15px;
        font-size: 1.5rem;
        display: inline-block;
        *display: inline;
        zoom: 1;
        position: relative;
        top: .75em;
        margin: 0 1em 1.5em; }
      #active-third-level-nav .level-3.active-trail:before {
        width: 0;
        height: 0;
        content: ' ';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        display: block;
        position: absolute;
        left: 50%;
        top: -.75em;
        margin-left: -13px; } }

.expand-menu {
  cursor: pointer;
  float: right;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-size: 3.6rem;
  width: 25px;
  height: 25px; }

/* =============================================================================
   ~Secondary Navigation
   ========================================================================== */
#body-nav {
  margin: 20px -10px;
  padding: 0 1em;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 35px;
  position: relative; }
  #body-nav li {
    margin: 5px 0;
    display: none;
    position: relative; }
    #body-nav li:first-of-type {
      display: block; }
      #body-nav li:first-of-type:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 11px 9px 0 9px;
        display: block;
        position: absolute;
        content: ' ';
        top: 40%;
        right: 10px;
        opacity: 1; }
    .no-js #body-nav li {
      display: list-item; }
  #body-nav .is-expanded li:after {
    opacity: 0; }
  .lt-ie9 #body-nav {
    display: none; }
  @media screen and (min-width: 600px) {
    #body-nav {
      display: none; } }
  #body-nav #mobile-sub-nav:after {
    opacity: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9px 11px 9px;
    display: block;
    position: absolute;
    content: ' ';
    right: 10px;
    bottom: 0; }
  #body-nav #mobile-sub-nav.is-expanded:after {
    opacity: 1;
    -webkit-transition: all 0.5s 0.25s;
    -moz-transition: all 0.5s 0.25s;
    -ms-transition: all 0.5s 0.25s;
    -o-transition: all 0.5s 0.25s;
    transition: all 0.5s 0.25s; }

/* =============================================================================
   ~Breadcrumb
   ========================================================================== */
.breadcrumb {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 1em 0; }
  .breadcrumb a {
    text-decoration: none; }

#second-level-nav .wcmc-button, #second-level-nav .icon-button, #second-level-nav .wcmc-social-button, #second-level-nav .wcmc-call-to-action:before, #second-level-nav .form-submit {
  margin-bottom: 1em;
  display: none; }
  .lt-ie9 #second-level-nav .wcmc-button, .lt-ie9 #second-level-nav .icon-button, .lt-ie9 #second-level-nav .wcmc-social-button, .lt-ie9 #second-level-nav .wcmc-call-to-action:before, .lt-ie9 #second-level-nav .form-submit {
    display: block; }
  @media screen and (min-width: 600px) {
    #second-level-nav .wcmc-button, #second-level-nav .icon-button, #second-level-nav .wcmc-social-button, #second-level-nav .wcmc-call-to-action:before, #second-level-nav .form-submit {
      display: block; } }

.footer-nav-link {
  width: 25%;
  float: left;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/profiles/wcmc/themes/wcmc_base/css/boxsizing.htc); }

.footer-primary-nav {
  padding-bottom: 1em;
  border-bottom: 1px solid; }

footer {
  padding: 1em 10px; }
  footer .wcmc-logo {
    height: 64px;
    width: 284px; }
    .lt-ie9 footer .wcmc-logo {
      float: left; }
    @media screen and (min-width: 600px) {
      footer .wcmc-logo {
        float: left; } }
  footer .social-buttons li {
    float: left; }
  footer .department {
    float: left;
    margin: 1em 0;
    display: none; }
    .lt-ie9 footer .department {
      display: block;
      width: 100%; }
    @media screen and (min-width: 600px) {
      footer .department {
        display: block;
        width: 100%; } }
    .lt-ie9 footer .department {
      width: 50%; }
    @media screen and (min-width: 985px) {
      footer .department {
        width: 50%; } }
  footer .contact {
    display: none;
    margin: 1em 0; }
    .lt-ie9 footer .contact {
      display: block; }
    @media screen and (min-width: 600px) {
      footer .contact {
        display: block; } }
    .lt-ie9 footer .contact {
      width: 50%;
      float: right; }
    @media screen and (min-width: 985px) {
      footer .contact {
        width: 50%;
        float: right; } }
  .lt-ie9 footer .footer-site {
    margin-bottom: .6em; }
  @media screen and (min-width: 600px) {
    footer .footer-site {
      margin-bottom: .6em; } }
  footer .footer-site .map-link {
    float: left;
    margin-right: .5em; }
  footer .footer-wcmc {
    padding-top: 1em; }
  footer .site-name {
    font-size: 15px;
    font-size: 1.5rem; }
    .lt-ie9 footer .site-name {
      font-size: 20px;
      font-size: 2rem; }
    @media screen and (min-width: 600px) {
      footer .site-name {
        font-size: 20px;
        font-size: 2rem; } }
  footer .location {
    margin-top: 1em;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.8; }
  .lt-ie9 footer .contact {
    float: right;
    text-align: right; }
  @media screen and (min-width: 985px) {
    footer .contact {
      float: right;
      text-align: right; } }
  footer .disclaimer {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4; }
    .lt-ie9 footer .disclaimer {
      max-width: 45%;
      float: right;
      margin-top: 30px;
      text-align: right;
      font-size: 11px;
      font-size: 1.1rem; }
    @media screen and (min-width: 600px) {
      footer .disclaimer {
        max-width: 45%;
        float: right;
        margin-top: 30px;
        text-align: right;
        font-size: 11px;
        font-size: 1.1rem; } }

/* Layout rules */
/**
 *
 * WCMC Layout
 *
 */
.menu {
  margin: 0;
  padding: 0; }

nav[role="navigation"] .menu,
#main,
.wrap {
  margin: 0 auto;
  display: block;
  float: none; }

#page {
  background: #fff; }

#main {
  clear: both;
  min-height: 400px; }

footer {
  clear: both; }

/* =============================================================================
   ~Content
   ========================================================================== */
#main, .footer-site, .footer-wcmc {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Module rules */
/**
 *
 * WCMC Component Styles
 *
 */
/*Pretty self explainatory- mostly components used throughout the sites
* attempting to be as free of theming and size restrictions as possible.
*/
/**
 *
 * Base elements styles
 *
 */
/* =============================================================================
   ~Utilities
   ========================================================================== */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 Type for easier math */ }

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

p:first-child {
  margin-top: 0; }

.ie8 img {
  width: inherit; }

.main-content p a[href^="http"]:after {
  font-family: "SSStandard";
  content: '↪';
  font-size: 75%;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  display: inline-block;
  text-decoration: none;
  -ms-font-feature-settings: "liga" 1; }

#related-content-sidebar p a[href^="http"]:after, #related-content-inline p a[href^="http"]:after {
  display: none; }

/* =============================================================================
   ~Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 700; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Adelle", serif;
  /*todo*/
  padding-bottom: .25em;
  line-height: 1.25; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 .75em;
  font-size: 18px;
  font-size: 1.8rem; }
  .lt-ie9 h3 {
    font-size: 14px;
    font-size: 1.4rem; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 14px;
      font-size: 1.4rem; } }

a {
  color: #607890;
  text-decoration: none;
  transition: color .25s; }

a:hover {
  color: #333; }

body {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.41;
  padding: 0; }
  .lt-ie9 body {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.333; }
  @media screen and (min-width: 600px) {
    body {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.333; } }

figcaption {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.25; }
  .lt-ie9 figcaption {
    font-size: 12px;
    font-size: 1.2rem; }
  @media screen and (min-width: 600px) {
    figcaption {
      font-size: 12px;
      font-size: 1.2rem; } }

/* ============================
  ~Page Regions
   ============================*/
.menu {
  margin: 0;
  padding: 0; }

nav[role="navigation"] .menu,
#main,
.wrap {
  margin: 0 auto;
  display: block;
  float: none; }

#page {
  background: #fff; }

#main, .footer-site {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.footer-wcmc {
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lt-ie9 .wrap {
  width: 960px; }
@media screen and (min-width: 985px) {
  .wrap {
    width: 960px; } }

/* =============================================================================
   ~Header
   ========================================================================== */
nav a, header a {
  text-decoration: none; }

.global-search {
  height: 31px;
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .lt-ie9 .global-search {
    max-width: 250px; }
  @media screen and (min-width: 600px) {
    .global-search {
      max-width: 250px; } }
  .lt-ie9 .global-search {
    max-width: 290px; }
  @media screen and (min-width: 985px) {
    .global-search {
      max-width: 290px; } }
  .lt-ie9 .global-search {
    max-width: 400px; }
  .global-search span {
    display: block;
    overflow: hidden;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .global-search select {
    border: 1px solid black;
    width: 45%;
    -webkit-appearance: none;
    border-radius: 0;
    background: white url(../images/sprites/downarrow_grey_2x.png) no-repeat 93%;
    background-size: 10px 5px;
    padding: 7px 4px;
    margin: 0;
    float: left;
    height: 31px;
    font-size: 15px;
    font-size: 1.5rem;
    opacity: 1;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .lt-ie9 .global-search select {
      background: #fff;
      padding: 5px 4px; }
    @media screen and (min-width: 600px) and (max-width: 984px) {
      .global-search select {
        font-size: 12px;
        font-size: 1.2rem; } }
    .lt-ie8 .global-search select {
      width: 45%;
      height: 26px;
      font-size: 17px; }
  .global-search .global-search-input {
    border-left: 0;
    padding: 4px 0;
    float: right;
    line-height: 21px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -ms-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .lt-ie8 .global-search .global-search-input {
      height: 14px;
      line-height: 1em; }
  .global-search .search-button {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 10%;
    height: 31px;
    background-color: #fff;
    background-image: url("../images/sprites/search.png");
    background-size: png;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #000;
    border-left: none;
    padding: 0px;
    float: right;
    min-width: 10px;
    border-radius: 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .global-search .search-button {
        background-image: url("../images/sprites/search_2x.png"); } }
    .lt-ie8 .global-search .search-button {
      height: 24px;
      width: 9%;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0;
      border-left: 1px solid; }
  .lt-ie9 .is-collapsed .global-search {
    width: 32px; }
  @media screen and (min-width: 985px) {
    .is-collapsed .global-search {
      width: 32px; } }
  .lt-ie9 .is-collapsed .global-search .global-search-input {
    width: 31px;
    border-left: 1px solid;
    border-right: 1px solid;
    background-image: url("../images/sprites/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  @media screen and (min-width: 985px) {
    .is-collapsed .global-search .global-search-input {
      width: 31px;
      border-left: 1px solid;
      border-right: 1px solid;
      background-image: url("../images/sprites/search.png");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%; } }
  .lt-ie8 .is-collapsed .global-search .global-search-input {
    border-left: none; }
  .lt-ie9 .is-collapsed .global-search select {
    width: 0;
    padding: 0;
    background: #fff;
    border: 0;
    opacity: 0; }
  @media screen and (min-width: 985px) {
    .is-collapsed .global-search select {
      width: 0;
      padding: 0;
      background: #fff;
      border: 0;
      opacity: 0; } }
  .lt-ie8 .is-collapsed .global-search .search-button {
    display: none; }
  .lt-ie9 .is-collapsed .global-search .search-button {
    display: none; }
  @media screen and (min-width: 985px) {
    .is-collapsed .global-search .search-button {
      display: none; } }

/* =============================================================================
   ~Content
   ========================================================================== */
a > img {
  border-radius: 10px; }

figure.hero-image {
  margin: 0 -10px; }
  .lt-ie9 figure.hero-image {
    margin: 0 auto 1em; }
  @media screen and (min-width: 600px) {
    figure.hero-image {
      margin: 0 auto 1em; } }

.hero-image figcaption {
  margin: 1em 10px; }
  .lt-ie9 .hero-image figcaption {
    margin: 2.5em 0; }
  @media screen and (min-width: 600px) {
    .hero-image figcaption {
      margin: 2.5em 0; } }

.social-media {
  border-top: 1px solid;
  border-bottom: 1px solid;
  max-width: 250px;
  margin: 0 auto; }
  .social-media h3 {
    display: none;
    padding: 0;
    margin: 0; }
    .lt-ie9 .social-media h3 {
      display: block; }
    @media screen and (min-width: 600px) {
      .social-media h3 {
        display: block; } }
  .lt-ie9 .social-media {
    padding: 22px 0 0;
    padding: 2.2rem 0 0; }
  @media screen and (min-width: 600px) {
    .social-media {
      padding: 22px 0 0;
      padding: 2.2rem 0 0; } }

.social-links {
  padding: 0;
  margin-bottom: 0; }
  .social-links > li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-bottom: 2em;
    margin-right: 1em; }
    .social-links > li:last-child {
      margin-right: 0; }

.wcmc-button, .icon-button, .wcmc-social-button, .wcmc-call-to-action:before, .form-submit {
  border-radius: 5px;
  display: block;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-size: 1.7rem; }

.icon-button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 2.25; }

.wcmc-social-button {
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 25px;
  font-size: 2.5rem; }
  .wcmc-social-button:hover {
    text-decoration: none; }

.wcmc-social-button-facebook {
  background: none;
  font-size: 40px;
  font-size: 4rem;
  position: relative;
  top: 8px;
  z-index: 5; }

.facebook-button-background {
  position: absolute;
  height: 38px;
  width: 39px;
  z-index: 1;
  display: block;
  top: 11px;
  border-radius: 5px; }

.facebook-icon-container {
  position: relative; }

.wcmc-call-to-action {
  font-weight: bold;
  text-decoration: none;
  font-size: 0; }
  .wcmc-call-to-action:before {
    display: inline-block;
    width: 50px;
    font-size: 20px;
    font-size: 2rem;
    margin-right: .5em;
    padding-top: .3em;
    vertical-align: middle;
    line-height: 41px;
    font-size: 30px;
    font-size: 3rem; }
  .lt-ie9 .wcmc-call-to-action {
    font-size: 15px;
    font-size: 1.5rem; }
  @media screen and (min-width: 985px) {
    .wcmc-call-to-action {
      font-size: 15px;
      font-size: 1.5rem; } }

.contact-info p {
  font-size: 14px;
  font-size: 1.4rem; }
.contact-info span {
  display: block; }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .contact-info span {
      margin-bottom: .25em; } }

.pane-node-field-related-articles ul {
  padding: 0 1em; }
.pane-node-field-related-articles li {
  margin-bottom: .25em; }

.pane-bundle-slideshow {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem; }
  .pane-bundle-slideshow a > img {
    margin-bottom: 1em; }
  .lt-ie9 .pane-bundle-slideshow {
    font-size: 12px;
    font-size: 1.2rem; }
  @media screen and (min-width: 600px) {
    .pane-bundle-slideshow {
      font-size: 12px;
      font-size: 1.2rem; } }
  .pane-bundle-slideshow p {
    font-size: 12px;
    font-size: 1.2rem;
    display: inline; }

.slideshow-images {
  position: relative; }

.photo-icon {
  display: none;
  width: 105px;
  height: 46px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  background: url(../images/sprites/overlay.png) 0 0 no-repeat;
  text-indent: -9999px; }

.pane-bundle-video a > img {
  margin: 0 auto;
  display: block; }

.video {
  position: relative;
  margin: 0; }

.video .playhead {
  display: none;
  width: 48px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -24px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/profiles/wcmc/themes/wcmc_base/css/boxsizing.htc);
  padding: 8px 0;
  transition: background-color .25s; }
  .lt-ie9 .video .playhead {
    background-color: #000; }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .video .playhead {
      margin-top: -10%; } }

.video:hover .playhead, .video:focus .playhead {
  background-color: rgba(255, 0, 0, 0.75); }
  .lt-ie9 .video:hover .playhead, .lt-ie9 .video:focus .playhead {
    background-color: red; }

/* Responsive youtube videos */
.media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.media-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.panel-separator {
  margin: 10px;
  margin: 1rem; }

.jump-to-top {
  display: none;
  margin: 2em auto;
  width: 80px; }
  .jump-to-top > a {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 5px solid #d8d2c9;
    text-align: center;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    line-height: .7;
    color: #d8d2c9;
    opacity: .75; }
    .jump-to-top > a:hover {
      text-decoration: none;
      color: #d8d2c9;
      opacity: 1; }

/* =============================================================================
   ~View Teasers
   ========================================================================== */
.view-teaser {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d2c9; }

.view-teaser.views-row-last {
  border-bottom: none; }

.teaser-title {
  margin-top: 0; }

.teaser-image img.panopoly-image-quarter {
  max-width: 80%;
  width: 80%;
  height: auto;
  float: none;
  margin: 0; }
  .lt-ie9 .teaser-image img.panopoly-image-quarter {
    max-width: 45%;
    width: 45%;
    height: auto;
    float: right;
    margin-left: .5em;
    margin-bottom: .8em;
    margin-top: .25em; }
  @media screen and (min-width: 600px) {
    .teaser-image img.panopoly-image-quarter {
      max-width: 45%;
      width: 45%;
      height: auto;
      float: right;
      margin-left: .5em;
      margin-bottom: .8em;
      margin-top: .25em; } }
  .lt-ie9 .teaser-image img.panopoly-image-quarter {
    max-width: 25%;
    width: 25%;
    height: auto;
    float: right;
    margin-left: .5em;
    margin-bottom: .8em;
    margin-top: .25em; }
  @media screen and (min-width: 985px) {
    .teaser-image img.panopoly-image-quarter {
      max-width: 25%;
      width: 25%;
      height: auto;
      float: right;
      margin-left: .5em;
      margin-bottom: .8em;
      margin-top: .25em; } }

/* =============================================================================
   ~Branding, Footer
   ========================================================================== */
.nyp-logo {
  float: right;
  background-image: url(../images/footer_nyp.gif);
  height: 19px;
  width: 232px;
  text-indent: -9999px; }

.my-nyp {
  font-size: 11px;
  font-size: 1.1rem;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  clear: both;
  margin-top: 10px; }

.wcmc-logo {
  display: block;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-image: url("../images/WCMC_web_white.png");
  background-size: 284px 62px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position-y: 50%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .wcmc-logo {
      background-image: url("../images/WCMC_web_white_2x.png"); } }

.cornell-copyright {
  font-size: 12px;
  font-size: 1.2rem; }

#footer-nav {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.25;
  font-weight: bold;
  text-transform: uppercase; }
  #footer-nav .menu {
    text-align: center; }
  #footer-nav .stretchy {
    display: none; }
  #footer-nav a {
    text-decoration: none; }
  .lt-ie9 #footer-nav .stretchy {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  .lt-ie9 #footer-nav .menu {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    font-size: 0; }
  .lt-ie9 #footer-nav .level-1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
    font-size: 11px;
    font-size: 1.1rem; }
  @media screen and (min-width: 600px) {
    #footer-nav .stretchy {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto; }
    #footer-nav .menu {
      text-align: justify;
      -ms-text-justify: distribute-all-lines;
      text-justify: distribute-all-lines;
      font-size: 0; }
    #footer-nav .level-1 {
      display: inline-block;
      *display: inline;
      zoom: 1;
      text-align: left;
      font-size: 11px;
      font-size: 1.1rem; } }

/* =============================================================================
   ~Form Elements
   ========================================================================== */
label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid #000;
  border-radius: 0;
  -webkit-transition: border linear 0.3s;
  -moz-transition: border linear 0.3s;
  -ms-transition: border linear 0.3s;
  -o-transition: border linear 0.3s;
  transition: border linear 0.3s;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  padding: .5em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .lt-ie9 input[type="text"], .lt-ie9
  input[type="email"], .lt-ie9
  input[type="password"], .lt-ie9
  textarea {
    max-width: 450px; }
  @media screen and (min-width: 600px) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      max-width: 450px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  -webkit-box-shadow: inset, 0, 1px, 1px, rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset, 0, 1px, 1px, rgba(0, 0, 0, 0.075);
  box-shadow: inset, 0, 1px, 1px, rgba(0, 0, 0, 0.075);
  border-color: #3091D2;
  outline: 0; }

input[type="submit"] {
  border: none; }

input[type="text"] + input[type="submit"], .form-item-search-keys + input[type="submit"] {
  width: 100%;
  margin-top: .5em; }
  .lt-ie9 input[type="text"] + input[type="submit"], .lt-ie9 .form-item-search-keys + input[type="submit"] {
    width: auto;
    margin-top: auto; }
  @media screen and (min-width: 600px) {
    input[type="text"] + input[type="submit"], .form-item-search-keys + input[type="submit"] {
      width: auto;
      margin-top: auto; } }

/* =============================================================================
   ~Search Results
   ========================================================================== */
.search-results {
  padding: 0; }
  .search-results .search-snippet {
    line-height: 1.5; }
  .search-results .search-info {
    font-size: 12px;
    font-size: 1.2rem; }
  .search-results .title {
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: none;
    font-family: Helvetica;
    line-height: 1.2; }
  .search-results .search-snippet-info {
    padding: 0; }
  .search-results > li {
    margin-bottom: 2em; }

#search-results-heading {
  display: none; }

.google-appliance-results-control-bar {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 0; }

.google-appliance-synonyms {
  display: none; }

.form-submit {
  display: inline-block;
  line-height: 1.2;
  padding: .4em 1em; }

ul.pager {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 1.5em; }

/* Global state rules */
/**
 *
 * Adds state-based styling. Global state rules are those that apply only during
 * certain states of the page and have a JavaScript dependency. For more
 * information, see https://smacss.com/book/type-state
 *
 */
.is-hidden {
  display: none; }

/*Uncomment the below lines when making a subtheme so that the change of directory
doesn't result in images being lost.
*/
/* =============================================================================
   ~Base Elements
   ========================================================================== */
body {
  background: #4a5258;
  color: #333539; }

#page {
  background-color: white; }

h1, h2 {
  color: #b31b1b; }

h3 {
  color: #00355f; }

#main h1 {
  border-bottom: 1px solid #d8d2c9; }

a {
  color: #0068ac; }
  a:hover {
    color: #0068ac;
    text-decoration: underline; }

/* =============================================================================
   ~Header
   ========================================================================== */
.wcmc-branding, .dual-branding {
  border-color: #606a70; }
  .lt-ie9 .wcmc-branding, .lt-ie9 .dual-branding {
    background-color: white; }
  @media screen and (min-width: 600px) {
    .wcmc-branding, .dual-branding {
      background-color: white; } }
  .lt-ie9 .wcmc-branding, .lt-ie9 .dual-branding {
    border: none; }
  @media screen and (min-width: 985px) {
    .wcmc-branding, .dual-branding {
      border: none; } }

.weill-cornell-connect {
  background-color: white;
  border-color: #606a70; }
  .is-collapsed .weill-cornell-connect {
    border-color: #606a70; }

.wcmc-emblem, .wcmc-emblem:hover {
  color: #a5aeb4; }
  @media screen and (min-width: 600px) and (max-width: 984px) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../images/WCMC_web_red.png");
      background-size: 284px 62px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 600px) and (max-width: 984px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (max-width: 984px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (max-width: 984px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 600px) and (max-width: 984px) and (min-resolution: 125dpi), only screen and (min-width: 600px) and (max-width: 984px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../images/WCMC_web_red_2x.png"); } }

  .lt-ie9 .wcmc-emblem, .lt-ie9 .wcmc-emblem:hover {
    background-image: url("../images/WCMC-EMBLEM_web_red.png");
    background-size: 100px 100px;
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 .wcmc-emblem, .lt-ie9 .wcmc-emblem:hover {
        background-image: url("../images/WCMC-EMBLEM_web_red_2x.png"); } }
  @media screen and (min-width: 985px) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../images/WCMC-EMBLEM_web_red.png");
      background-size: 100px 100px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-emblem, .wcmc-emblem:hover {
      background-image: url("../images/WCMC-EMBLEM_web_red_2x.png"); } }

.nyp-brand, .nyp-brand:hover {
  color: #a5aeb4; }

.lt-ie9 .wcmc-emblem.full-logo {
  color: transparent; }
@media screen and (min-width: 600px) {
  .wcmc-emblem.full-logo {
    color: transparent; } }

.wcmc-links {
  background: white;
  border-color: #606a70; }

.wcmc-primary-nav-item {
  color: #727d84; }
  .wcmc-primary-nav-item:hover {
    color: #727d84; }
  .wcmc-primary-nav-item:after {
    border-color: #d8d2c9; }

.lt-ie9 .wcmc-links-expander {
  background-image: url("../images/sprites/navigation_drawer.png");
  background-size: 16px 100px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .lt-ie9 .wcmc-links-expander {
      background-image: url("../images/sprites/navigation_drawer_2x.png"); } }
@media screen and (min-width: 985px) {
  .wcmc-links-expander {
    background-image: url("../images/sprites/navigation_drawer.png");
    background-size: 16px 100px;
    background-repeat: no-repeat; } }
  @media only screen and (min-width: 985px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 985px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 985px) and (min-resolution: 125dpi), only screen and (min-width: 985px) and (min-resolution: 1.3dppx) {
    .wcmc-links-expander {
      background-image: url("../images/sprites/navigation_drawer_2x.png"); } }

.global-search {
  border-color: #606a70; }
  .global-search select {
    color: #606a70;
    border-color: #606a70; }
  .global-search input {
    border-color: #606a70; }
  .global-search .search-button {
    border-color: #606a70; }

.site-branding h1 {
  margin-top: .5em;
  font-weight: 700;
  text-transform: uppercase; }
  .site-branding h1, .site-branding h1 a {
    color: #727d84; }
    .lt-ie9 .site-branding h1, .lt-ie9 .site-branding h1 a {
      color: #b31b1b; }
    @media screen and (min-width: 600px) {
      .site-branding h1, .site-branding h1 a {
        color: #b31b1b; } }

/* =============================================================================
   ~Navigation
   ========================================================================== */
.menu-button {
  color: #727d84; }
  .menu-button.is-expanded {
    background: #4a5258; }

#top-nav {
  color: #fff;
  background-color: #4a5258; }
  .lt-ie9 #top-nav {
    background-color: white; }
  @media screen and (min-width: 600px) {
    #top-nav {
      background-color: white; } }

#primary-nav {
  background-color: #4a5258;
  border-color: #727d84; }

#primary-nav .active-trail {
  background: #727d84; }
  #primary-nav .active-trail.temp-inactive {
    background: transparent; }

#primary-nav .level-1 {
  width: 25%; }
  #primary-nav .level-1 a {
    color: #fff; }
  #primary-nav .level-1.is-open {
    background-color: #727d84; }
    #primary-nav .level-1.is-open:after {
      border-top-color: #727d84; }

#drawer-nav a {
  color: white;
  text-decoration: none; }
  #drawer-nav a:hover {
    text-decoration: underline; }
#drawer-nav .level-1 {
  border-color: #727d84; }
  .lt-ie9 #drawer-nav .level-1 > a:after {
    font-size: 20px;
    font-size: 2rem;
    content: ' \25BB';
    font-family: "SSStandard";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    display: inline-block;
    padding-left: 5px; }
  @media screen and (min-width: 600px) {
    #drawer-nav .level-1 > a:after {
      font-size: 20px;
      font-size: 2rem;
      content: ' \25BB';
      font-family: "SSStandard";
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      white-space: nowrap;
      display: inline-block;
      padding-left: 5px; } }
  #drawer-nav .level-1 > .menu {
    border-color: #727d84;
    background-color: #727d84; }
    .lt-ie9 #drawer-nav .level-1 > .menu {
      background-color: #4a5258; }
    @media screen and (min-width: 600px) {
      #drawer-nav .level-1 > .menu {
        background-color: #4a5258; } }
#drawer-nav .menu-description {
  display: none; }
  .lt-ie9 #drawer-nav .menu-description {
    font-size: 14px;
    font-size: 1.4rem;
    display: block;
    margin: 0;
    line-height: 30px; }
  @media screen and (min-width: 600px) {
    #drawer-nav .menu-description {
      font-size: 14px;
      font-size: 1.4rem;
      display: block;
      margin: 0;
      line-height: 30px; } }
  #drawer-nav .menu-description a:hover {
    text-decoration: none; }
.lt-ie9 #drawer-nav .level-2 {
  float: left;
  width: 33%; }
@media screen and (min-width: 600px) {
  #drawer-nav .level-2 {
    float: left;
    width: 33%; } }
.lt-ie9 #drawer-nav .level-2 {
  width: 20%; }
@media screen and (min-width: 985px) {
  #drawer-nav .level-2 {
    width: 20%; } }
#drawer-nav .level-3.active-trail {
  background-color: #727d84; }
.lt-ie9 #drawer-nav {
  background: #4a5258; }
@media screen and (min-width: 600px) {
  #drawer-nav {
    background: #4a5258; } }

#active-second-level-nav {
  background: #727d84; }
  #active-second-level-nav a {
    color: #fff; }
  #active-second-level-nav .level-2:after {
    border-color: #4a5258; }
  .lt-ie9 #active-second-level-nav .active-trail > a {
    background-image: url("../images/sprites/double_arrow.png");
    background-size: 16px 20px;
    background-size: 16px 20px;
    background-repeat: no-repeat;
    padding-top: 6px;
    padding-bottom: 6px;
    background-position: 100% 50%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .lt-ie9 #active-second-level-nav .active-trail > a {
        background-image: url("../images/sprites/double_arrow_2x.png"); } }
  @media screen and (min-width: 600px) {
    #active-second-level-nav .active-trail > a {
      background-image: url("../images/sprites/double_arrow.png");
      background-size: 16px 20px;
      background-size: 16px 20px;
      background-repeat: no-repeat;
      padding-top: 6px;
      padding-bottom: 6px;
      background-position: 100% 50%; } }
  @media only screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 600px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-width: 600px) and (min-resolution: 125dpi), only screen and (min-width: 600px) and (min-resolution: 1.3dppx) {
    #active-second-level-nav .active-trail > a {
      background-image: url("../images/sprites/double_arrow_2x.png"); } }

#active-third-level-nav {
  background: white;
  border-color: #d8d2c9; }
  #active-third-level-nav a {
    color: #727d84; }
  #active-third-level-nav .active {
    color: #b31b1b;
    font-weight: bold; }
  #active-third-level-nav .level-3.active-trail:before {
    border-top-color: #727d84; }

#body-nav {
  background: #727d84;
  color: white; }
  #body-nav li:after {
    border-color: #fff transparent transparent transparent; }
  #body-nav a {
    color: white;
    text-decoration: none; }

#mobile-sub-nav:after {
  border-color: transparent transparent white transparent; }

#second-level-nav .wcmc-button, #second-level-nav .icon-button, #second-level-nav .wcmc-social-button, #second-level-nav .wcmc-call-to-action:before, #second-level-nav .form-submit {
  background-color: #727d84;
  transition: background-color .25s; }
  #second-level-nav .wcmc-button:hover, #second-level-nav .icon-button:hover, #second-level-nav .wcmc-social-button:hover, #second-level-nav .wcmc-call-to-action:hover:before, #second-level-nav .form-submit:hover {
    color: white;
    background-color: #667076;
    text-decoration: none; }

.breadcrumb {
  color: #333539; }

/* =============================================================================
   ~Components
   ========================================================================== */
.wcmc-button, .icon-button, .wcmc-social-button, .wcmc-call-to-action:before, .form-submit {
  background-color: #0093d0;
  color: white; }
  .wcmc-button:hover, .icon-button:hover, .wcmc-social-button:hover, .wcmc-call-to-action:hover:before, .form-submit:hover {
    text-decoration: none;
    color: white; }
  footer .wcmc-button, footer .icon-button, footer .wcmc-social-button, footer .wcmc-call-to-action:before, footer .form-submit {
    background-color: #727d84;
    color: #a5aeb4; }

.wcmc-social-button {
  background-color: #89cce2;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.wcmc-social-button-facebook {
  color: #89cce2; }
  footer .wcmc-social-button-facebook {
    color: #727d84; }

.facebook-button-background {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  background-color: white; }
  footer .facebook-button-background {
    background-color: #a5aeb4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

.facebook-icon-container:hover .facebook-button-background {
  background-color: white; }

.social-media {
  border-color: #d8d2c9; }

/* =============================================================================
   ~Footer
   ========================================================================== */
footer {
  background-color: #4a5258;
  color: white; }

.footer-primary-nav {
  border-color: #727d84; }

#footer-nav a {
  color: white; }

.disclaimer, .disclaimer a {
  color: white; }
